

/*  a:link {
      color:white;
  }

*/

#search {
 
}
 
#search input[type="text"] {
    background: url(http://4.bp.blogspot.com/-239R3H-ONfw/TjRXPkTSusI/AAAAAAAAA3M/pgaoKdDCypg/s1600/search-white.png) no-repeat 10px 6px #444;
    border: 0 none;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #d7d7d7;
    width:150px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    }
 
#search input[type="text"]:focus {
    background: url(http://1.bp.blogspot.com/-XNPyh_l2WB8/TjRXPfrbJVI/AAAAAAAAA3I/R8Mia0bYtME/s1600/search-dark.png) no-repeat 10px 6px #fcfcfc;
    color: #6a6f75;
    width: 200px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    }

    
/*Header styles*/

.header-top{
  /*background: linear-gradient(to right, #1E1F20 ,#4E4F4D, #1E1F20);*/
  background: white;
}


.header-navbar nav{
  margin: 0;
  padding: 0;
/*  background-color: transparent;*/
  background-color:#505150;
  /*border-bottom-right-radius:50px;*/
 /* border-bottom-left-radius:50px;*/
}

#big-screen a{
  font-size: 12px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  padding-left: 15px !important;
  padding-right: 15px !important;
  color: white;
}

#small-screen a{
  font-size: 12px;
  padding-left: 8px !important;
  padding-right: 8px !important;
  color: white;
}

.header-navbar ul a:hover{
  transition: color 500ms;
  color: #91DCF6 !important;
}

.header-navbar input{
  height: 32px;
  font-size: 13px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: none;
  border-top: none;
  border-right: none;
  border-left: 5px solid #48B0E7;
}

.header-navbar .input-group button{
  border: none;
  color: white !important;
  background-color: transparent;
  text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}


/*.header-navbar .input-group button:focus{
  outline: none;
}*/

.header-top a img{
  image-rendering: -webkit-optimize-contrast;
  width: 90px;
  height: 120px;
}

/*@media only screen and (max-width: 770px) {
  .header-top a img{
  image-rendering: -webkit-optimize-contrast;
  width: 360px;
  height: 130px;
  }
}*/

@media only screen and (max-width: 550px) {
  .header-top a img{
  image-rendering: -webkit-optimize-contrast;
  width: 80px;
  height: 110px;
  }
}

@media only screen and (max-width: 400px) {
  .header-top a img{
  image-rendering: -webkit-optimize-contrast;
  width: 70px;
  height: 95px;
  }
}

@media only screen and (max-width: 380px) {
  .header-top a img{
  image-rendering: -webkit-optimize-contrast;
  width: 60px;
  height: 85px;
  }
}

@media only screen and (max-width: 340px) {
  .header-top a img{
  image-rendering: -webkit-optimize-contrast;
  width: 50px;
  height: 65px;
  }
}

.top-logo-text a{
  text-decoration: none;
  color: #484A4B;
  font-size: 22px !important;
  /*font-family: Georgia, serif;*/
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

@media only screen and (max-width: 770px) {
  .top-logo-text a{
  font-size: 18px !important;
  /*font-family: Georgia, serif;*/
  }
}

@media only screen and (max-width: 480px) {
  .top-logo-text a{
  font-size: 13px !important;
  /*font-family: Georgia, serif;*/
  }
}

@media only screen and (max-width: 360px) {
  .top-logo-text a{
  font-size: 11px !important;
  /*font-family: Georgia, serif;*/
  }
}

.top-logo-text a:hover{
  color: #0C86D5;
  transition: color 400ms;
}

@media only screen and (max-width: 770px) {
  #big-screen{
    display: none;
  }

}

@media only screen and (min-width: 770px) {

  #small-screen{
    display: none;
  }
}


/*////////////////////*/
/*@media only screen and (max-width: 450px){
  html,body {
  padding: 0px 0px 0px 0px;
  z-index: 0;
  width: 100% !important;
  height: 100% !important;
  overflow-x: hidden;  }
}*/

#startchange{
  margin: 0;
  padding: 0;
}

#startchange button{
    border: none;
/*    font-size: 25px !important;*/
    margin-top: 10px;
    margin-bottom: 10px;
}

#startchange .nav-item{
  font-size: 14px !important;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  color: grey;
}

.dropdown-link:hover .nav-item{
    transition: background 500ms;
    background-color: #D7DBDD;
}

.first-nav-active{
  background-color: #D7DBDD;
}

.nav-imagelogo img{
  width: 50px;
  height: 60px;
}

.dropdown-link {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    font-size: 12px;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    color: grey;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #E5E7E9;
  transition: background 400ms;}

.dropdown-link:hover .dropdown-content {
    display: block;
}

@media only screen and (max-device-width: 800px) {
#startchange .nav-item{
  font-size: 12px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.dropdown-content a {
    font-size: 10px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}
}

/*footer styles*/



.footer {
  background:linear-gradient(to right, #0099FF ,#00CCFF, #00FFFF );
  margin: 0px auto;
  padding: 20px 0px; }
  
.footer a{
  transition: 0.4s;
  font-size: 14px;
}

footer .leaf{
  list-style-type: circle;
  list-style-position: inside;
  color: white;
}

footer a:hover{
  text-decoration: none;
  color: navy !important;
}

footer .social-links a{
  font-size: 40px !important;
  padding-left: 15px;
}

footer address{
  font-size: 14px;
  color: #0000EE;
}

footer .node{
  color: navy;
  font-family: Helvetica, sans-serif;
}

footer .list-end li{
  display: inline;
  list-style-type: none;
}

footer .list-end li a{
  font-size: 11px !important;
}

footer .list-end li:not(:first-child):before {
    content: " | ";
}




  .adminis-body a:visited {
      color:blue;
  }



  .adminis-body a:hover {
  color: #ed7c04;
  text-decoration-color:green;
  }


  .adminis-body a:active {
      color:blue;
  }

      .outer{
        font-style:bold;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 4%;
        margin-bottom:4%;
        background-color:#e0e2e5;
        padding-bottom: 1.5%;
      }

      .innerleft{
        font-size:20px;
        margin-left: 4%;
        margin-right: 4%;
        margin-top: 0%;
        margin-bottom: 0%;
        background-color:white;
        padding-left:3%;
      }
      .inneriit{
        font-size:20px;
        margin-left: 4%;
        margin-right: 4%;
        margin-top: 0%;
        margin-bottom: 0%;
        background-color:white;
        padding-left:0%;
      }
      .innerright{
        font-size:20px;
        margin-left: 4%;
        margin-right: 4%;
        margin-top: 0%;
        margin-bottom: 0%;
        background-color:white;
        padding-left:0%;
      }
      .innerleft:hover
{
  -webkit-transform: scale(1.1);
         -ms-transform: scale(1.1);
         transform: scale(1.1);
         background:#f9f4e8;
}
.innerright:hover
{
-webkit-transform: scale(1.1);
   -ms-transform: scale(1.1);
   transform: scale(1.1);
   background:#f9f4e8;
}
.inneriit:hover
{
-webkit-transform: scale(1.1);
   -ms-transform: scale(1.1);
   transform: scale(1.1);
   background:#f9f4e8;
}
      .heading{
        font-size:130%;
        font-size: 1.5vw;
        border: 1px solid;
        margin-left: 0%;
        margin-right: 0%;
        margin-top:-10%;
        background-color:#6384f9;
        margin-bottom:5%;
        color:white;
        font-weight:normal;
        padding:.7%;
      }
      .ed{
        font-size:150%;
        font-size: 1.4vw;
        border: 1px solid;
        margin-left: 0%;
        margin-right: 0%;
        margin-top:-8%;
        background-color:#6384f9;
        margin-bottom:5%;
        color:white;
        font-weight:normal;
        padding:0.4%;
      }
      .detailsleft{
        font-size:medium;
        font-size: 1.4vw;
        text-align:left;
        margin-top:2%;
        margin-bottom:0%;
        padding-bottom:0%;
        margin-left: 18%;
      }
      .detailsiit{
        font-size:medium;
        font-size: 1.1vw;
        text-align:left;
        margin-top:2%;
        margin-bottom:0%;
        padding-bottom:0%;
        margin-left: 3%;
      }

      .detailsright{
        font-size:medium;
        font-size: 1.4vw;
        text-align:left;
        margin-top:2%;
        margin-bottom:0%;
        padding-bottom:0%;
        margin-left: 3%;
      }

      .img-responsive{
        width:8vw;
        margin-bottom: 15%;
        margin-left: 13%;
      }
      .imagebox{
        margin-top:1%;
        margin-bottom:0%;
        margin-left:0%;
        margin-right:0%;
        padding-top: 1%
      }
      .imageboxiit{
        margin-top:1%;
        margin-bottom:0%;
        margin-left:0%;
        margin-right:0%;
        padding-top: 1%
      }

      .director{
        width:35vw;
        margin-bottom: 15%;
      }

     .header{
       font-size:40px;
       /*border: 1px solid;*/
       margin-left: 0%;
       margin-right:0%;
       /*background-color:#2372ef;*/
       text-align:left;
       padding-left:5%;
       padding-top:2.8%;
       height:100px;
       padding-bottom:5%;
       /*font-weight: bolder;*/
}
  .nameleft{
    color:blue;
    text-align:left;
    margin-top:5%;
    font-weight: bolder;
    font-size:150%;
    font-size: 2vw;
    margin-left: 18%;
    }
    .nameright{
      color:blue;
      text-align:left;
      margin-top:5%;
      font-weight: bolder;
      font-size:150%;
      font-size: 2vw;
      margin-left: 3%;
      }
      .nameiit{
        color:blue;
        text-align:left;
        margin-top:5%;
        font-weight: bolder;
        font-size:150%;
        font-size: 1.6vw;
        margin-left: 3%;
        }

    .administration{
      padding:.5%;
      margin-bottom:5%;
      /*background-color:#2778f7;
      color:white;
      font-weight: bolder;
      border: 1px solid;*/
      border-color: #aeccfc;
      margin-left: 10%;
    }
    .col-md-8{
   margin-bottom:1%;
   margin-top:1%;

    }
    .dcv{
      font-size:90%;
      font-size: 1.3vw;
      margin-left: 5%;
      margin-right: 5%;
      margin-top:15%;
      margin-bottom:2%;
      font-weight:normal;
      padding:.7%;
      height:1.9vw;
      border-radius: .20em;
      background-color:#e0e2e5;
      color :#666666;
    }
    .msg{
      font-size:90%;
      font-size: 1.3vw;
      margin-left: 0%;
      margin-right: 25%;
      margin-top:9%;
      margin-bottom:3%;
      font-weight:normal;
      padding:.7%;
      padding-bottom: 5%;
      padding-left: 3%;
      height:1.9vw;
      border-radius: .20em;
      background-color:#e0e2e5;
      color :#666666;
    }

@media screen and (max-width: 50em) {

  .outer{
    font-style:bold;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 10%;
    margin-bottom:4%;
    background-color:#e0e2e5;
    padding-bottom: 1.5%;
  }

  .innerleft{
    font-size:20px;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 0%;
    margin-bottom: 2%;
    background-color:white;
    padding-left:3%;
  }
  .inneriit{
    font-size:20px;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 0%;
    margin-bottom: 2%;
    background-color:white;
    padding-left:0%;
  }
  .innerright{
    font-size:20px;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 0%;
    margin-bottom: 2%;
    background-color:white;
    padding-left:0%;
  }
  .innerleft:hover
{
-webkit-transform: scale(1.1);
     -ms-transform: scale(1.1);
     transform: scale(1.1);
     background:#f9f4e8;
}

.inneriit:hover
{
-webkit-transform: scale(1.1);
   -ms-transform: scale(1.1);
   transform: scale(1.1);
   background:#f9f4e8;
}

.innerright:hover
{
-webkit-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
background:#f9f4e8;
}
  .heading{
    font-size:130%;
    font-size: 3.5vw;
    border: 1px solid;
    margin-left: 5%;
    margin-right: 5%;
    margin-top:-10%;
    background-color:#6384f9;
    margin-bottom:5%;
    color:white;
    font-weight:normal;
    padding:0%;
  }
  .ed{
    border: 1px solid;
    font-size:150%;
    font-size: 3.2vw;
    border: 1px solid;
    margin-left: 1%;
    margin-right: 0%;
    margin-top:-7%;
    background-color:#6384f9;
    margin-bottom:%;
    color:white;
    font-weight:normal;
    padding:0%;
  }
  .detailsleft{
    font-size:medium;
    font-size:3vw;
    text-align:left;
    margin-top:2%;
    margin-bottom:0%;
    padding-bottom:0%;
    margin-left: 5%;
  }
  .detailsiit{
    font-size:medium;
    font-size: 2.7vw;
    text-align:left;
    margin-top:2%;
    margin-bottom:0%;
    padding-bottom:0%;
    margin-left: 0%;
  }

  .detailsright{
    font-size:medium;
    font-size: 3vw;
    text-align:left;
    margin-top:2%;
    margin-bottom:0%;
    padding-bottom:0%;
    margin-left: 0%;
  }

  .img-responsive{
    width:40vw;
    margin-bottom: 0%;
    margin-left: 0%;
  }

  .iit{
    width:20vw;
    margin-bottom: 0%;
    margin-left: 0%;
  }
  .imagebox{
    margin-top:1%;
    margin-bottom:0%;
    margin-left:0%;
    margin-right:0%;
    padding-top: 1%
  }
  .imageboxiit{
    margin-top:1%;
    margin-bottom:0%;
    margin-left:0%;
    margin-right:0%;
    padding-top: 1%
  }

  .director{
    width:35vw;
    margin-bottom: 15%;
  }

 .header{
   font-size:40px;
   margin-left: 0%;
   margin-right:0%;
   text-align:left;
   padding-left:5%;
   padding-top:2.8%;
   height:100px;
   padding-bottom:0%;
   /*font-weight: bolder;*/
}
.nameleft{
color:blue;
text-align:left;
margin-top:5%;
font-weight: bolder;
font-size:150%;
font-size: 3.5vw;
margin-left: 5%;
}
.nameright{
  color:blue;
  text-align:left;
  margin-top:5%;
  font-weight: bolder;
  font-size:150%;
  font-size: 3.5vw;
  margin-left: 0%;
  }
  .nameiit{
    color:blue;
    text-align:left;
    margin-top:5%;
    font-weight: bolder;
    font-size:150%;
    font-size: 2.9vw;
    margin-left: 0%;
    }

.administration{
  padding:.5%;
  /*background-color:#2778f7;
  color:white;
  font-weight: bolder;
  border: 1px solid;
  border-color: #aeccfc;*/
  margin-left: 3%;
}
.col-md-8{
margin-bottom:1%;
margin-top:1%;

}
.dcv{
  font-size:90%;
  font-size: 2.5vw;
  margin-left: 5%;
  margin-right: 5%;
  margin-top:15%;
  margin-bottom:2%;
  font-weight:normal;
  padding:.7%;
  height:4vw;
  border-radius: .20em;
  background-color:#e0e2e5;
  color :#666666;
}
.msg{
  font-size:90%;
  font-size: 2.5vw;
  margin-left: 0%;
  margin-right: 15%;
  margin-top:9%;
  margin-bottom:3%;
  font-weight:normal;
  padding:.7%;
  padding-bottom: 8%;
  padding-left: 3%;
  height:4vw;
  border-radius: .20em;
  background-color:#e0e2e5;
  color :#666666;
}

    }
