.ugb{
  box-shadow: 10px 10px 5px #aaaaaa;
  /*border: solid 1px #aaaaaa;*/
  font-size: 39px;
  margin-left: 13%;
  margin-bottom: 5%;
  margin-right: 7%;
  padding-left: 8%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.ugb:hover {
	-moz-box-shadow: 15px 15px 25px rgba(0,0,0,0.5);
	-webkit-box-shadow: 15px 15px 25px rgba(0,0,0,0.5);
	box-shadow: 15px 15px 25px rgba(0,0,0,0.5);
	}
.ugi{
  margin-left: 22%;
}
a.ckbl {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /*text-decoration: none;*/
    /* Makes sure the link doesn't get underlined */
    z-index: 10;
    /* raises anchor tag above everything else in div */
    background-color: white;
    /*workaround to make clickable in IE */
    opacity: 0;
    /*workaround to make clickable in IE */
    filter: alpha(opacity=0);
    /*workaround to make clickable in IE */
}
.pgb{
  box-shadow: 10px 10px 5px #aaaaaa;
  /*border: solid 1px;*/
  font-size: 39px;
  margin-bottom: 5%;
    padding-left: 8%;
    padding-top: 5%;
    padding-bottom: 5%;
  }
.pgb:hover {
  	-moz-box-shadow: 15px 15px 25px rgba(0,0,0,0.5);
  	-webkit-box-shadow: 15px 15px 25px rgba(0,0,0,0.5);
  	box-shadow: 15px 15px 25px rgba(0,0,0,0.5);
  	}
.pgi{
  margin-left: 22%;
}
@media screen and (max-width: 62em){
.ugb{
  font-size: 30px;
  padding-left: 6.5%;
}
.pgb{
  font-size: 30px;
  padding-left: 6.5%;
}

}
@media screen and (max-width: 50em){
.ugb{
  font-size: 26px;
  padding-left: 6.5%;
}
.pgb{
  font-size: 26px;
  padding-left: 6.5%;
}

}
@media screen and (max-width: 47em){
.ugb{
  font-size: 23px;
  padding-left: 6.5%;
}
.ugi{
  margin-left: 20%;
}
.pgb{
  font-size: 23px;
  padding-left: 6.5%;
}
.pgi{
  margin-left: 20%;
}

}
@media screen and (max-width: 39em){
.ugb{
  font-size: 20px;
  padding-left: 6.5%;
}
.ugi{
  margin-left: 13%;
}
.pgb{
  font-size: 20px;
  padding-left: 6.5%;
}
.pgi{
  margin-left: 13%;
}

}

@media screen and (max-width: 35.97em){
  .ugb{
    box-shadow: 10px 10px 5px #aaaaaa;
    /*border: solid 1px #aaaaaa;*/
    font-size: 39px;
    margin-left: 7%;
    margin-bottom: 5%;
    margin-right: 7%;
    padding-left: 13%;
    padding-top: 8%;
    padding-bottom: 7%;
  }
  .ugi{
    margin-left: 25%;
  }
  .pgb{
    box-shadow: 10px 10px 5px #aaaaaa;
    /*border: solid 1px;*/
    font-size: 39px;
    margin-left: 7%;
    margin-bottom: 5%;
    margin-right: 7%;
    padding-left: 13%;
    padding-top: 8%;
    padding-bottom: 7%;
    }
    .pgi{
      margin-left: 25%;
    }
}
