
/*search box*/

#search {
 
}
 
#search input[type="text"] {
    background: url(http://4.bp.blogspot.com/-239R3H-ONfw/TjRXPkTSusI/AAAAAAAAA3M/pgaoKdDCypg/s1600/search-white.png) no-repeat 10px 6px #444;
    border: 0 none;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #d7d7d7;
    width:150px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    }
 
#search input[type="text"]:focus {
    background: url(http://1.bp.blogspot.com/-XNPyh_l2WB8/TjRXPfrbJVI/AAAAAAAAA3I/R8Mia0bYtME/s1600/search-dark.png) no-repeat 10px 6px #fcfcfc;
    color: #6a6f75;
    width: 200px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    }

    
/*Header styles*/

.header-top{
  /*background: linear-gradient(to right, #1E1F20 ,#4E4F4D, #1E1F20);*/
  background: white;
}


.header-navbar nav{
  margin: 0;
  padding: 0;
/*  background-color: transparent;*/
  background-color:#505150;
  /*border-bottom-right-radius:50px;*/
 /* border-bottom-left-radius:50px;*/
}

#big-screen a{
  font-size: 12px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  padding-left: 15px !important;
  padding-right: 15px !important;
  color: white;
}

#small-screen a{
  font-size: 12px;
  padding-left: 8px !important;
  padding-right: 8px !important;
  color: white;
}

.header-navbar ul a:hover{
  transition: color 500ms;
  color: #91DCF6 !important;
}

.header-navbar input{
  height: 32px;
  font-size: 13px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: none;
  border-top: none;
  border-right: none;
  border-left: 5px solid #48B0E7;
}

.header-navbar .input-group button{
  border: none;
  color: white !important;
  background-color: transparent;
  text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}


/*.header-navbar .input-group button:focus{
  outline: none;
}*/

.header-top a img{
  image-rendering: -webkit-optimize-contrast;
  width: 90px;
  height: 120px;
}

/*@media only screen and (max-width: 770px) {
  .header-top a img{
  image-rendering: -webkit-optimize-contrast;
  width: 360px;
  height: 130px;
  }
}*/

@media only screen and (max-width: 550px) {
  .header-top a img{
  image-rendering: -webkit-optimize-contrast;
  width: 80px;
  height: 110px;
  }
}

@media only screen and (max-width: 400px) {
  .header-top a img{
  image-rendering: -webkit-optimize-contrast;
  width: 70px;
  height: 95px;
  }
}

@media only screen and (max-width: 380px) {
  .header-top a img{
  image-rendering: -webkit-optimize-contrast;
  width: 60px;
  height: 85px;
  }
}

@media only screen and (max-width: 340px) {
  .header-top a img{
  image-rendering: -webkit-optimize-contrast;
  width: 50px;
  height: 65px;
  }
}

.top-logo-text a{
  text-decoration: none;
  color: #484A4B;
  font-size: 22px !important;
  /*font-family: Georgia, serif;*/
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

@media only screen and (max-width: 770px) {
  .top-logo-text a{
  font-size: 18px !important;
  /*font-family: Georgia, serif;*/
  }
}

@media only screen and (max-width: 480px) {
  .top-logo-text a{
  font-size: 13px !important;
  /*font-family: Georgia, serif;*/
  }
}

@media only screen and (max-width: 360px) {
  .top-logo-text a{
  font-size: 11px !important;
  /*font-family: Georgia, serif;*/
  }
}

.top-logo-text a:hover{
  color: #0C86D5;
  transition: color 400ms;
}

@media only screen and (max-width: 770px) {
  #big-screen{
    display: none;
  }

}

@media only screen and (min-width: 770px) {

  #small-screen{
    display: none;
  }
}


/*////////////////////*/
/*@media only screen and (max-width: 450px){
  html,body {
  padding: 0px 0px 0px 0px;
  z-index: 0;
  width: 100% !important;
  height: 100% !important;
  overflow-x: hidden;  }
}*/

#startchange{
  margin: 0;
  padding: 0;
}

#startchange button{
    border: none;
/*    font-size: 25px !important;*/
    margin-top: 10px;
    margin-bottom: 10px;
}

#startchange .nav-item{
  font-size: 14px !important;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  color: grey;
}

.dropdown-link:hover .nav-item{
    transition: background 500ms;
    background-color: #D7DBDD;
}

.first-nav-active{
  background-color: #D7DBDD;
}

.nav-imagelogo img{
  width: 50px;
  height: 60px;
}

.dropdown-link {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    font-size: 12px;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    color: grey;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #E5E7E9;
  transition: background 400ms;}

.dropdown-link:hover .dropdown-content {
    display: block;
}

@media only screen and (max-device-width: 800px) {
#startchange .nav-item{
  font-size: 12px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.dropdown-content a {
    font-size: 10px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}
}

/*footer styles*/



.footer {
  background:linear-gradient(to right, #0099FF ,#00CCFF, #00FFFF );
  margin: 0px auto;
  padding: 20px 0px; }
  
.footer a{
  transition: 0.4s;
  font-size: 14px;
}

footer .leaf{
  list-style-type: circle;
  list-style-position: inside;
  color: white;
}

footer a:hover{
  text-decoration: none;
  color: navy !important;
}

footer .social-links a{
  font-size: 40px !important;
  padding-left: 15px;
}

footer address{
  font-size: 14px;
  color: #0000EE;
}

footer .node{
  color: navy;
  font-family: Helvetica, sans-serif;
}

footer .list-end li{
  display: inline;
  list-style-type: none;
}

footer .list-end li a{
  font-size: 11px !important;
}

footer .list-end li:not(:first-child):before {
    content: " | ";
}




@import "https://fonts.googleapis.com/css?family=Raleway:400,300,200,500,600,700";
.fa-spin-fast {
  -webkit-animation: fa-spin-fast 0.2s infinite linear;
  animation: fa-spin-fast 0.2s infinite linear;
}
@-webkit-keyframes fa-spin-fast {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin-fast {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
h1{
  font-size: 270%;
  font-weight: bolder;
}
.page-header{
  height: 100px;
  padding-left: 40%;
  padding-top: 1%;
  background-image: url("12.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: right;
}
.material-card {
  position: relative;
  height: 0;
  padding-bottom: calc(100% - 16px);
  margin-bottom: 7em;
  margin-left: 5%;
  margin-right: 5%;
}
.material-card h2 {
  position: absolute;
  top: calc(100% - 37px);
  left: 0;
  width: 100%;
  padding: 10px 16px 0px 30px;
  color: #fff;
  font-size: 1.4em;
  font-size: 1.8vw;
  line-height: 40px;
  margin: 0;
  z-index: 10;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.material-card.mc-active h2{
  font-size: 1.5vw;
}
.material-card h2 span {
  display: block;
}
.material-card h2 strong {
  font-weight: 400;
  display: block;
  font-size: 13px;
  /*font-size: 1vw;*/
  margin-top: -3%;
  margin-bottom: 3%;
}
.material-card h2:before,
.material-card h2:after {
  content: ' ';
  position: absolute;
  left: 0;
  top: -16px;
  width: 0;
  border: 8px solid;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.material-card h2:after {
  top: auto;
  bottom: 0;
}
/*@media screen and (max-width: 767px) {
  .material-card.mc-active {
    padding-bottom: 0;
    height: auto;
  }
}*/
.material-card.mc-active h2 {
  top: 0;
  padding: 10px 16px 10px 90px;
}
.material-card.mc-active h2:before {
  top: 0;
}
.material-card.mc-active h2:after {
  bottom: -16px;
}
/*ob*/
.material-card.ob h2 {
  position: absolute;
  top: calc(100% - 37px);
  left: 0;
  width: 100%;
  padding: 10px 16px 0px 30px;
  color: #fff;
  font-size: 1.4em;
  font-size: 1.5vw;
  line-height: 40px;
  margin: 0;
  z-index: 10;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.material-card.ob h2 span {
  display: block;
}
.material-card.ob h2 strong {
  font-weight: 400;
  display: block;
  font-size: .7em;
  /*font-size: 1vw;*/
  margin-top: -3%;
  margin-bottom: 5%;
}
.material-card.ob h2:before,
.material-card.ob h2:after {
  content: ' ';
  position: absolute;
  left: 0;
  top: -16px;
  width: 0;
  border: 8px solid;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.material-card.ob  h2:after {
  top: auto;
  bottom: 0;
}
/*@media screen and (max-width: 767px) {
  .material-card.mc-active {
    padding-bottom: 0;
    height: auto;
  }
}*/
.material-card.mc-active.ob h2 {
  font-size: 18px;
  top: 0;
  line-height: 35px;
  padding: 10px 16px 10px 90px;
}
.material-card.mc-active.ob h2:before {
  top: 0;
}
.material-card.mc-active.ob h2:after {
  bottom: -16px;
}
.material-card.mc-active.ob .mc-btn-action {
  top: 95px;
}
/*ob*/
/*aks*/
.material-card.aks h2 span{
  font-size: 20px;
}
.material-card.mc-active.aks h2 span{
  font-size: 18px;
}
@media (min-width:62em){

.material-card.mc-active.dnd h2 {
  font-size: 1.5vw;
  top: 0;
  padding: 10px 16px 10px 90px;
}}
.material-card .mc-content {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 16px;
  left: 16px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.material-card .mc-btn-action {
  position: absolute;
  right: 16px;
  top: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid white;
  width: 54px;
  height: 54px;
  line-height: 44px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  z-index: 20;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.material-card.mc-active .mc-btn-action {
  top: 62px;
}
.material-card .mc-description {
  position: absolute;
  top: 100%;
  right: 30px;
  left: 30px;
  bottom: 54px;
 /* overflow: hidden;*/
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 1.2s;
  -moz-transition: all 1.2s;
  -ms-transition: all 1.2s;
  -o-transition: all 1.2s;
  transition: all 1.2s;
}
.material-card .mc-footer {
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.material-card .img-container {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.material-card.mc-active .img-container {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  left: -1px;
  top: 10px;
  width: 70px;
  height: 70px;
  z-index: 20;
}
.material-card.mc-active .mc-content {
  padding-top: 5.6em;
}
.material-card.mc-active .mc-description {
  top: 50px;
  padding-top: 5.6em;
  opacity: 1;
  filter: alpha(opacity=100);
}
.material-card.mc-active .mc-footer {
  overflow: visible;
  position: absolute;
  top: calc(100% - 33px);
  left: 16px;
  right: 0;
  height: 80px;
  padding-top: 15px;
  padding-left: 5px;
  padding-bottom: 22%;
}
.material-card.Indigo h2 {
  background-color: #172fc6;
}
.material-card.Indigo h2:after {
  border-top-color: #172fc6;
  border-right-color: #172fc6;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.material-card.Indigo h2:before {
  border-top-color: transparent;
  border-right-color: #1A237E;
  border-bottom-color: #1A237E;
  border-left-color: transparent;
}
.material-card.Indigo.mc-active h2:before {
  border-top-color: transparent;
  border-right-color: #172fc6;
  border-bottom-color: #172fc6;
  border-left-color: transparent;
}
.material-card.Indigo.mc-active h2:after {
  border-top-color: #1A237E;
  border-right-color: #1A237E;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.material-card.Indigo .mc-btn-action {
  background-color: #172fc6;
}
.material-card.Indigo .mc-btn-action:hover {
  background-color: #1A237E;
}
.material-card.Indigo .mc-footer a {
  background-color: #1A237E;
}
.material-card.Indigo.mc-active .mc-content {
  background-color: #E8EAF6;
}
.material-card.Indigo.mc-active .mc-footer {
  background-color: #C5CAE9;
}
.material-card.Indigo.mc-active .mc-btn-action {
  border-color: #E8EAF6;
}

body {

  padding-right: 0%;
  background-color: #ECEFF1;
  color: #37474F;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 16px;
}
h1,
h2,
h3 {
  font-weight: 200;
}
.cse{
  font-size: 30px;
  margin-bottom: 5%;
  margin-top: 2%;
}
.phy{
  font-size: 30px;
  margin-bottom: 5%;
}
.ece{
  font-size: 30px;
  margin: 5%;
  margin-left: 0%;
}
.te{
  font-size: 30px;
  margin-bottom: 3%;
}
.material-card.fa{
  color: #ffff;
}


.btn-1 {
  background-color: #1A237E;
}
.btn-1 .round {
  background-color: #172fc6;

}

.type-1  a {
  text-decoration: none;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  padding: 4% 17% 3% 15%;
  color: #fff;
  font-family: sans-serif;
  position: relative;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
}
.type-1 a span {
  position: relative;
  z-index: 3;
}
.type-1 a .round {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  position: absolute;
  right: 4px;
  top: 1px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 2;
}
.type-1 a .round i {
  position: absolute;
  top: 50%;
  margin-top: -6px;
  left: 50%;
  margin-left: -4px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.txt {
  font-size: 95%;
  margin-bottom: 10%;
}

.type-1 a:hover {
  color: white;
  padding-left: 48px;
  padding-right: 28px;
  padding-bottom: 3%;
}
.type-1 a:hover .round {
  width: 97%;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}
.type-1 a:hover .round i {
  left: 12%;
}
.type-1{
  margin-top: 3%;
  margin-left: 5%;
}
@media (max-width: 82.4em){
/*  .cse{
    border: solid 1px green;
  } */
.material-card.mc-active.ob h2 {
  font-size: 1.45vw;
}
}
@media (min-width:62em) and (max-width: 74.95em){

/*  .cse{
    border: solid 1px ;
  }*/
  .type-1{
  margin-top: 3%;
  margin-left: 4%;
  padding-bottom: 5%;
}
.txt {
  font-size: 75%;
  margin-bottom: 10%;
}
.type-1 a .round{
   width: 33px;
  height: 33px;
}
.material-card.mc-active h2{
  font-size: 15px;
}
.material-card.mc-active .mc-btn-action {
  top: 74px;
}

.material-card.mc-active.ob .mc-btn-action {
  top: 75px;
}
.material-card.mc-active .img-container {
  left: -1px;
  top: 6px;
  width: 60px;
  height: 60px;
}

.material-card.mc-active .mc-content {
  padding-top: 5.6em;
}
.material-card.mc-active .mc-description {
  top: 50px;
  padding-top: 5.6em;
  opacity: 1;
  filter: alpha(opacity=100);
}
.material-card.mc-active .mc-footer {
  overflow: visible;
  position: absolute;
  top: calc(100% + 10px);
  left: 16px;
  right: 0;
  height: 80px;
  padding-top: 15px;
  padding-left: 5px;
  padding-bottom: 22%;
}
.material-card .mc-content {
  bottom: -8.5px;
}
}
@media (min-width:47.9em) and (max-width: 62em){
/*    .cse{
    border: solid 1px red;
  }*/
.row{
  margin-left:-12%; 
}
.material-card{
  margin-left: 15% !important;
  margin-right: 7% !important;
}
.material-card .img-container {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 140%;
  height: 140%;
  z-index: 3;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.material-card.mc-active .img-container {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  left: -1px;
  top: 10px;
  width: 70px;
  height: 70px;
  z-index: 20;
}
  .material-card h2 {
    position: absolute;
    top: calc(100% - 17px);
    left: 0;
    width: 137%;
    padding: 10px 16px 0px 30px;
    color: #fff;
    font-size: 1.2em;
    font-size: 2vw;
    line-height: 1.6em;
    margin: 0;
    z-index: 10;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .material-card.ob h2{
  font-size: 1.6vw;
  width: 137%;
  }
  .material-card.mc-active.ob h2 {
    font-size: 1.6vw;
    top: 0;
    padding: 10px 16px 10px 90px;
  }
  .material-card h2 span {
    display: block;
  }
  .material-card h2 strong {
    font-weight: 400;
    display: block;
    font-size: .6em;
    /*font-size: 1vw;*/
    margin-top: -3%;
    margin-bottom: 3%;
  }
  .material-card h2:before,
  .material-card h2:after {
    content: ' ';
    position: absolute;
    left: 0;
    top: -16px;
    width: 0;
    border: 8px solid;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .material-card h2:after {
    top: auto;
    bottom: 0;
  }
  /*@media screen and (max-width: 767px) {
    .material-card.mc-active {
      padding-bottom: 0;
      height: auto;
    }
  }*/
  .material-card.mc-active h2 {
    top: 0;
    padding: 10px 16px 10px 90px;
    font-size: 1.8vw;
  }
   .material-card.mc-active.dnd h2 {
    top: 0;
    padding: 10px 16px 10px 90px;
    font-size: 1.7vw;
  }
  .material-card.mc-active h2:before {
    top: 0;
  }
  .material-card.mc-active h2:after {
    bottom: -16px;
  }
  .material-card .mc-btn-action {
  position: absolute;
  right: -55px;
  top: 15px;
}
.material-card.mc-active .mc-btn-action {
  top: 90px;
}
.material-card.mc-active.ob .mc-btn-action {
  top: 70px;
}
.material-card.mc-active .mc-content {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 16px;
  left: 16px;
  width: 129%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.material-card.mc-active .mc-footer {
  overflow: visible;
  position: absolute;
  top: calc(100% + 15px);
  left: 16px;
  width: 129%;
  right: 0;
  height: 80px;
  padding-top: 15px;
  padding-left: 5px;
  padding-bottom: 22%;
}
.cc{
  font-size: 1vw;
}
 .type-1{
  margin-top: 3%;
  margin-left: 4%;
  padding-bottom: 5%;
}
.txt {
  font-size: 65%;
  margin-bottom: 10%;
}
.type-1 a .round{
   width: 30px;
  height: 30px;
}
.material-card.mc-active.ud h2 {
 font-size: 2.3vw; 
}
.material-card.mc-active.tg h2 {
 font-size: 2.3vw; 
}
.material-card.mc-active .mc-content {
  bottom: -14px;
}

}
@media (min-width:39em) and (max-width:47.9em){
  .material-card.ob h2 {
    position: absolute;
    top: calc(100% - 290px);
  }
  .material-card.ob h2{
  font-size: 4vw;
  }
  .material-card.mc-active.ob h2 {
    font-size:3vw;
    top: 0;
    padding: 15px 16px 30px 90px;
  }
/*  .material-card.mc-active.mc-content {
  bottom: -400px ;
}*/
}

@media (min-width:30em) and (max-width:39em){
  .material-card.ob h2 {
    position: absolute;
    top: calc(100% - 190px);
  }
  .material-card.ob h2{
  font-size: 4vw;
  }
  .material-card.mc-active.ob h2 {
    font-size:3vw;
    top: 0;
    padding: 15px 16px 30px 90px;
  }
}
@media (max-width:30em){
  .material-card.ob h2 {
    position: absolute;
    top: calc(100% - 50px);
  }
  .material-card.ob h2{
  font-size: 5vw;
  }
  .material-card.mc-active.ob h2 {
    font-size:4.5vw;
    top: 0;
    padding: 15px 16px 30px 90px;
  }
}
@media (max-width: 47.9em){
  .material-card.mc-active h2{
    font-size: 1.2em;
  }
.material-card.aks h2 span{
  font-size: 3.5vw;
}
  .cse{
    /*border: solid 1px red;*/
    font-size: 22px;
    margin-bottom: 5%;
    margin-left: 2%;
  }
  .phy{
    font-size: 27px;
    margin-bottom: 5%;
    margin-left: 5%;
  }
  .ece{
    font-size: 24px;
    margin: 5%;
  }
  .te{
    font-size: 30px;
    margin-bottom: 3%;
    margin-left: 5%;
  }
.page-header{
  margin-top: -4%;
  padding-left: 30%;
}
  .material-card h2 {
    /*border: 5px solid red;*/
    position: absolute;
    top: calc(100% - 37px);
    left: 0;
    width: 100%;
    padding: 10px 16px 0px 30px;
    color: #fff;
    font-size: 1.27em;
    /*font-size: 1.9vw;*/
    line-height: 2em;
    margin: 0;
    z-index: 10;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .material-card h2 span {
    display: block;
  }
  .material-card h2 strong {
    font-weight: 400;
    display: block;
    font-size: .65em;
    /*font-size: 1vw;*/
    margin-top: -3%;
    margin-bottom: 3%;
  }
  .material-card.mc-active .mc-content {
    position: relative;
    margin-right: 16px;
}
.material-card.mc-active .mc-description {
  position: relative;
  top: auto;
  right: auto;
  left: auto;
  padding: 50px 30px 70px 30px;
  bottom: 0;
}
.material-card.mc-active h2 strong{
  margin-bottom: -2%;
}
.type-1  a {
  padding: 4% 17% 4% 5%;
}
.type-1 a:hover {
  padding-bottom: 4%;
}
}

@media (max-width: 47.99em){
  .material-card {
    margin-bottom: 7em;
    margin-left: 20%;
    margin-right: 20%;
  }
}
@media (min-width:39em) and (max-width: 47.99em){
  .material-card h2 {
        margin-top: -58%;
      }
  .material-card.mc-active h2{
    margin-top: 0%;
  }
  .material-card.mc-active .mc-footer {
    margin-top: -58%;
    padding-left: 40px;
  }
}

@media (max-width: 39em){
  .material-card {
    position: relative;
    height: 0;
    padding-bottom: calc(100% - 16px);
    margin-bottom: 7em;
    margin-left: 15%;
    margin-right: 15%;
  }
  .type-1{
  margin-top: 3%;
  margin-left: 4%;
}
.txt {
  font-size: 73%;
  margin-bottom: 10%;
}
.type-1 a .round{
   width: 37px;
  height: 37px; 
}

}
@media (min-width:36em) and (max-width:47.9em){

.active-with-click.row{
  margin-left:-14%; 
}
.material-card{
  margin-left: 15% !important;
  margin-right: 7% !important;
}
.material-card .img-container {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 126%;
  height: 126%;
  z-index: 3;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.material-card.mc-active .img-container {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  left: -1px;
  top: 10px;
  width: 70px;
  height: 70px;
  z-index: 20;
}
  .material-card h2 {
    position: absolute;
    top: calc(100% - 37px);
    left: 0;
    width: 124%;
    padding: 10px 16px 0px 30px;
    color: #fff;
    font-size: 22px;
    line-height: 35PX;
    margin: 0;
    z-index: 10;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .material-card.mc-active h2 {
    line-height: 35PX;
  }
   .material-card.mc-active.ob h2 {
    line-height: 35PX;
  }
   .material-card.ob h2 {
    line-height: 35PX;
  }
  .material-card.ob h2{
  font-size: 17px;
  /*width: 130%;*/
  padding: 10px 16px 30px 90px;
  }
  .material-card.mc-active.ob h2 {
    font-size: 16px;
    top: 0;
    width: 136.5%;
    padding: 10px 16px 10px 90px;
  }
  .material-card h2 span {
    display: block;
  }
  .material-card h2 strong {
    font-weight: 400;
    display: block;
    font-size: 12px;
    /*font-size: 1vw;*/
    margin-top: -3%;
    margin-bottom: 3%;
  }
  /*aks*/
.material-card.aks h2 span{
  font-size: 18px;
}
  .material-card h2:before,
  .material-card h2:after {
    content: ' ';
    position: absolute;
    left: 0;
    top: -16px;
    width: 0;
    border: 8px solid;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .material-card h2:after {
    top: auto;
    bottom: 0;
  }
  /*@media screen and (max-width: 767px) {
    .material-card.mc-active {
      padding-bottom: 0;
      height: auto;
    }
  }*/
  .material-card.mc-active h2 {
    top: 0;
    padding: 10px 16px 10px 90px;
    font-size: 21px;
    width: 136.5%;
  }
   .material-card.mc-active.dnd h2 {
    top: 0;
    padding: 10px 16px 10px 90px;
    font-size: 18px;
  }
.material-card.mc-active.tg h2 {
      font-size: 20px !important;
  }
  .material-card.mc-active.sp h2 {
      font-size: 22px !important;
  }
  .material-card.mc-active.sc h2 {
      font-size: 22px !important;
  }
  .material-card.mc-active h2:before {
    top: 0;
  }
  .material-card.mc-active h2:after {
    bottom: -16px;
  }
  .material-card .mc-btn-action {
  position: absolute;
  right: -45px;
  top: 15px;
}
.material-card.mc-active .mc-btn-action {
  top: 90px;
}
.material-card.mc-active.ob .mc-btn-action {
  top: 90px;
}
.material-card.mc-active.tg .mc-btn-action {
  top: 60px;
}
.material-card.mc-active.dnd .mc-btn-action {
  top: 60px;
}
.material-card.mc-active.ud .mc-btn-action {
  top: 70px;
}
.material-card.mc-active .mc-content {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0px;
  left: 16px;
  width: 129%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.material-card.mc-active .mc-footer {
  overflow: visible;
  position: absolute;
  top: calc(100% + 120px);
  left: 16px;
  width: 129%;
  right: 0;
  height: 80px;
  padding-top: 15px;
  padding-left: 5px;
  padding-bottom: 22%;
}
.cc{
  font-size: 1vw;
}
 .type-1{
  margin-top: 3%;
  margin-left: 8%;
  padding-bottom: 5%;
}
.txt {
  font-size: 75%;
  margin-bottom: 10%;
}
.type-1 a .round{
   width: 38px;
  height: 38px;
}
.material-card.mc-active.ud h2 {
 font-size: 2.3vw; 
}
.material-card.mc-active.tg h2 {
 font-size: 2.3vw; 
}
.material-card.ob h2 {
  position: absolute;
  top: calc(100% - 37px);
  left: 0;
  width: 124%;
  padding: 10px 16px 0px 30px;
/*  line-height: 1.6em;*/
  margin: 0;
}
.material-card.mc-active.ud h2 {
  padding: 10px 16px 20px 90px;
}
.cc{
  font-size: 16px;
}
}
@media (min-width:36em) and (max-width:39em){
/*        .cse{
    border: solid 1px blue;
  }*/
  .material-card.mc-active .mc-footer {
  overflow: visible;
  position: absolute;
  top: calc(100% + 20px);
  left: 16px;
  width: 129%;
  right: 0;
  height: 80px;
  padding-top: 15px;
  padding-left: 5px;
  padding-bottom: 22%;
}
.material-card.mc-active .mc-content {
  bottom: -20px;
}
}
@media (min-width:30em) and (max-width: 36em){
/*  .cse{
    border: solid 1px;
  }*/

.material-card h2 {
      margin-top: -35%;
    }
.material-card.mc-active h2{
  margin-top: 0%;
}
.material-card.mc-active .mc-footer {
  margin-top: -35%;
  padding-left: 33px;
}

.material-card.mc-active .mc-content {
  bottom: -15px;
}

}
@media (max-width: 30em){
  .material-card {
    position: relative;
    height: 0;
    padding-bottom: calc(100% - 16px);
    margin-bottom: 7em;
    margin-left: 5%;
    margin-right: 5%;
  }
.material-card h2 {
    margin-top: -2%;
  }
.material-card.mc-active h2 {
    margin-top: 0%;
  }
  .material-card.mc-active .mc-footer {
    padding-left: 30px;
  }
/*.material-card .ob h2 {
  position: absolute;
  top: calc(100% +70px) !important;
}*/
/*  .material-card.mc-active .mc-content {
  bottom: -200px !important;
}*/
}
.cc{
  margin-left: 7%;
}

.material-card .fa{
  color:white;
}


