html
{
	width: 100%;
	margin:0px;
}
body
{
    background-color:white;
    color: black;
}

p
{
	font-family: 'Nunito', sans-serif;
	font-size: 1em;
}
img
{
	max-width:100%;
	height: auto;
}

.hero-image
{
	background-image: url("../images/facilities/Reach_iiit_kalyani_images/trial_background.jpg");
	background-position:center;
	background-repeat: no-repeat;
	height: 50%;
	background-size: cover;
	position: relative;
}
.hero-image:hover
{
	background-image: url("../images/facilities/Reach_iiit_kalyani_images/trial_background.jpg");
	background-position:center;
	background-repeat: no-repeat;
	height: 50%;
	background-size: cover;
	position: relative;
}
.hero-text
{
	color:#FAFAFB;
	text-align: left;	
	padding-top: 200px;
	padding-bottom:100px;
	padding-left: 20px;
}
#main
{
	background-color:white;
}
/* Code for Footer CSS*/
.footer {
  background: linear-gradient(to right, #0099FF ,#00CCFF, #00FFFF );
  margin: 0px auto;
  padding: 20px 0px; }

.footer a{
  transition: 0.4s;
  font-size: 14px;
}

footer .leaf{
  list-style-type: circle;
  list-style-position: inside;
  color: white;
}

footer a:hover{
  text-decoration: none;
  color: navy !important;
}

footer .social-links a{
  font-size: 40px !important;
  padding-left: 15px;
}

footer address{
  font-size: 14px;
  color: #0000EE;
}

footer .node{
  color: navy;  
  font-family: Helvetica, sans-serif;
}

footer .list-end li{
  display: inline;
  list-style-type: none;
}

footer .list-end li a{
  font-size: 11px !important;
}

footer .list-end li:not(:first-child):before {
    content: " | ";
}