

{% extends "base.html" %} {% load static %} {% block base_head %}
  <title>IIITK ADMINISTRATION</title>
  <title>Administration</title>
  <link rel="stylesheet"  href="{% static "css/administration.css" %}" media="screen, handheld" />
{% endblock %} {% block content %}
<div class="adminis-body">
<div class="header">
  <span class="administration">ADMINISTRATION</span>
</div>
<hr width="90%">
<div class="container-fluid">
<div class=" row outer">


  <div class="row text-center">
    <div class="col-md-10 col-sm-10 col-10 innertop heading">

  MENTOR INSTITUTE
    </div>
   </div>

   <div class="row inneriit text-center">
   <div class="col-md-8 col-sm-8 col-8">
     <div class="nameiit">INDIAN INSTITUTE OF TECHNOLOGY<br>
       <p></p>
     KHARAGPUR </div>
<div class="detailsiit">

For more information of the Mentor Institute, visit the website &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a target="_blank" href="http://www.iitkgp.ac.in">www.iitkgp.ac.in</a>
   </div>
   </div>
   <div class="col-md-3 col-sm-3 col-4 imageboxiit">
   <a target="_blank" href="http://www.iitkgp.ac.in"><img src="../../static/images/administrationimg/IIT_Kharagpur_Logo.svg.png" class="img-responsive tocenter iit" /></a>
   <a target="_blank" href="http://www.iitkgp.ac.in"><div class="dcv">
     <p>Visit Website</p>
   </div></a>
   </div>
   </div>
 </div>
 <div class=" row outer">


   <div class="row text-center">
     <div class="col-md-10 col-sm-10 col-10 innertop heading">

   MENTOR DIRECTOR
     </div>
    </div>
   <div class="row innerleft text-center">
     <div class="col-md-3 col-sm-3 col-4 imagebox">
     <img src="../../static/images/administrationimg/120076427.jpg" class="rounded-circle img-fluid tocenter director" />

     </div>
   <div class="col-md-8 col-sm-8 col-8">
     <div class="nameleft">
   <a  href="https://en.wikipedia.org/wiki/Partha_Pratim_Chakraborty" >Prof. Partha P. Chakrabarti</a>
   </div>
     <div class="detailsleft">
Director, IIT Kharagpur

  <a target="_blank" href="Message-of-Mentor-Director.pdf"><div class="msg">
    <p>Message from Mentor Director</p>
  </div></a>


   </div>
   </div>
   </div>
   </div>

   <div class=" row outer">


     <div class="row text-center">
       <div class="col-md-11 col-sm-11 col-11 innertop ed">

     EXECUTIVE DIRECTOR / PROFESSOR IN-CHARGE
       </div>
      </div>

      <div class="row innerright text-center">
      <div class="col-md-8 col-sm-8 col-8">
        <div class="nameright">Prof. Anupam Basu<br>
          </div>
   <div class="detailsright">
Director, National Institute of Technology Durgapur
</div>
      </div>
      <div class="col-md-3 col-sm-3 col-4 imagebox">
      <img src="../../static/images/administrationimg/director_image.jpg" class="rounded-circle img-fluid tocenter director" />
      </div>
      </div>
    </div>
    <div class=" row outer">


      <div class="row text-center">
        <div class="col-md-11 col-sm-11 col-11 innertop heading">

      REGISTRAR (Offg.)
        </div>
       </div>
      <div class="row innerleft text-center">
        <div class="col-md-3 col-sm-3 col-4 imagebox">
        <img src="../../static/images/administrationimg/snd-150x150.jpg" class="rounded-circle img-fluid tocenter director" />

        </div>
      <div class="col-md-8 col-sm-8 col-8">
        <div class="nameleft">
      Mr. Sambhunath Datta
      </div>
        <div class="detailsleft">
  Deputy Registrar & Finance Officer, IIEST, Shibpur.

      </div>
      </div>
      </div>
      </div>

      <div class=" row outer">


        <div class="row text-center">
          <div class="col-md-10 col-sm-10 col-10 innertop heading">

        ASSISTANT REGISTRAR
          </div>
         </div>

         <div class="row innerright text-center ms">
         <div class="col-md-8 col-sm-8 col-8">
           <div class="nameright">Dr. Madhumita Sengupta<br>
             </div>
      <div class="detailsright">

                     <ul style="list-style-type:disc">
                        <li>Assistant Registrar, Administration</li>
                        <li>P.I.O</li>
                        <li>Former Assistant Professor, CSE</li>
                     </ul>
              &nbsp&nbsp&nbsp&nbsp Email : madhumita AT iiitkalyani.ac.in
        </div>
         </div>
         <div class="col-md-3 col-sm-3 col-4 imagebox">
         <img src="../../static/images/administrationimg/msg.jpg" class="rounded-circle img-fluid tocenter director" />
         </div>
         </div>
       </div>



           <div class=" row outer">


      <div class="row text-center">
        <div class="col-md-11 col-sm-11 col-11 innertop heading">

      ASSISTANT REGISTRAR
        </div>
       </div>
      <div class="row innerleft text-center">
        <div class="col-md-3 col-sm-3 col-4 imagebox">
        <img src="../../static/images/administrationimg/acs.jpg" class="rounded-circle img-fluid tocenter director" />

        </div>
      <div class="col-md-8 col-sm-8 col-8">
        <div class="nameleft">
      Mr. Amalesh Chandra Saha
      </div>
        <div class="detailsleft">
  Assistant Registrar, Administration<br>
   Email : amalesh AT iiitkalyani.ac.in

      </div>
      </div>
      </div>
      </div>

   </div>
</div>

{% endblock %} {% block base_foot %}
   <script type="text/javascript" src="{% static "js/scripts.js" %}"></script>

{% endblock %}
