{% extends "base.html" %} {% load static %} {% block base_head %}
<link rel="stylesheet" type="text/css" href="../../static/css/IIIT-ppp.css">
  <title>Anti ragging</title>
{% endblock %} {% block content %}
<div class="container">
<div class="iiitppp">
  <br>
  <br>
<h1>Anti Ragging</h1>
<hr>
<br>
<p>IIIT Kalyani is a ragging-free campus. Ragging here is an offence. An anti-ragging committee monitors all the ragging related activities.
All students are required to submit the ‘Anti Ragging Undertaking’ to IIIT Kalyani Office (Room 107, WEBEL IT Park) in the prescribed format as given in the website http://www.antiragging.in/ by 20 July 2017.</p>
<p><a href="../../static/images/anti-ragging/pdf1.pdf" target="_blank">First Amendment Anti-ragging </a></p>
<p><a href="../../static/images/anti-ragging/7823260_Anti-Ragging-3rd-Amendment5058.pdf" target="_blank">Third Amendment Anti-ragging </a></p>
<p><a href="../../static/images/anti-ragging/9541841_gazette_antiragging5056.pdf" target="_blank">Gadget Notification Anti-ragging. </a></p>
<p><a href="../../static/images/anti-ragging/AntiRagging_HowToFillUndertaking5063.pdf" target="_blank">Anti-ragging Undertaking. </a></p>
<p><a href="../../static/images/anti-ragging/gazzetaug20105059.pdf" target="_blank">Gadget Notification Anti-ragging 2010. </a></p>
<p><a href="../../static/images/anti-ragging/Notice_raging5062.pdf" target="_blank">Anti-ragging Notice.</a></p>
<p><a href="../../static/images/anti-ragging/public_noitce_ragging1107115060.pdf" target="_blank">Public Notice Anti-ragging I </a></p>
<p><a href="../../static/images/anti-ragging/publicnoticeragging5061.pdf" target="_blank">Public Notice Anti-ragging II. </a></p>
<p><a href="http://antiragging.in/home.aspx" target="_blank">Anti-ragging Home </a>National Anti Ragging Help Line (UGC Crisis Hotline)24×7 Toll Free Number* 1800-180-5522(helpline@antiragging.in).</p>

<br>
<br>
</div>
</div>
{% endblock %} {% block base_foot %}
       <script type="text/javascript" src="../../static/js/frontpage/scripts.js"></script>
{% endblock %}
