{% extends "base.html" %} {% load static %} {% block base_head %}
<link rel="stylesheet" type="text/css" href="../../static/css/IIIT-ppp.css">
  <title>e-Brochure</title>
{% endblock %} {% block content %}
<div class="container">
<div class="iiitppp">
  <br>
  <br>
<h1>e-Brochure</h1>
<hr>
<br>
<p>Download the e-Brochure of 2017-18 <a href="../../static/images/iiitppp/Brochure-17_18.pdf" target="_blank">here</a></p>
<br>
<br>
</div>
</div>

{% endblock %} {% block base_foot %}
       <script type="text/javascript" src="../../static/js/frontpage/scripts.js"></script>

{% endblock %}
