{% extends "base.html" %} {% load static %} {% block base_head %}
<link rel="stylesheet" type="text/css" href="../../static/css/IIIT-ppp.css">
<title>Fee structure</title>
{% endblock %} {% block content %}

<div class="container">
<div class="iiitppp">
<br>
<br>
<h1>Fee Structure</h1>
<hr>
<br>
<h2>Semester fee</h2>
<p><strong>New Admissions:</strong></p>
<p>
All payments are to be made (1) online through net banking or (2) by direct deposit into appropriate Institute accounts or (3) by using a credit/debit card at the time of admission. <strong>Other modes of payment like, cash, cheque, DD, etc., will NOT be accepted at the institute.</strong>
</p>
<p>Total semester fees of Rs 98,320/- (including the fees paid to JoSAA; Rs 45,000/ 20,000 depending on category ) is to be paid at the time of admission to the institute. From second semester onwards, amount payable is Rs. 94,700/-.</p>
<p><strong>Institute Account</strong></p>
<p>Account Holder :- Indian Institute of Information Technology</p>
<p>Bank Name :- State Bank of India</p>
<p>A/C No – 33984361509</p>
<p>IFS Code SBIN0006701</p>
<p>Branch :- Kalyani Industrial Growth Centre</p>
<br>
<p>The present fee structure to be effective from academic session 2017 – 2018<br>
1. Tuition Fees 90,000/-<br>
2. Registration/Admission fee 500/- (One time)<br>
3. Identity Card Fee 120/- (One time)<br>
4. Students’ activities fee 500/-<br>
5. Infrastructural Maintenance fee 500/-<br>
6. Examination fee 500/-<br>
7. Grade Card Fee 100/-<br>
8. Provisional Certificate Fee 100/-<br>
9. Transport fee 3000/-<br>
10. Library Caution Money 1000/- (One time)<br>
11. &nbsp;Institute Caution Money (refundable) 2000/- (One tine)</p>
<p>Total 98,320/-</p>
<p>&nbsp;</p>
<p>Six months fees for hostel and mess is to be made in advance.</p>
<p>Hostel Admission Fee &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 1000/- (One-Time)<br>
Hostel Caution Money Deposit (Refundable) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3000/- &nbsp;(One-Time)<br>
Hostel Establishment &amp; Maintenance Charge &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;1000/- &nbsp;(per semester)<br>
Hostel Advance* &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;30000/- (per semester)</p>
<p><strong>Total &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;35000/-</strong></p>
<p><strong>*Includes fooding and lodging charges. May vary by decision of competent authority. From second semester onwards, amount payable would be Rs. 31000/-.</strong></p>
<p><strong><u>Hostel Account</u></strong></p>
<p>Account Holder:- IIIT, Kalyani Hostel<br>
A/C No :- 36099465513<br>
IFS Code SBIN0006701<br>
Branch :- Kalyani Industrial Growth Centre</p>
<p><strong>Check the website details regularly for any updations/modifications.</strong></p>
<p>&nbsp;</p>


<br>
<br>
</div>
</div>
{% endblock %} {% block base_foot %}
<script type="text/javascript" src="../../static/js/frontpage/scripts.js"></script>
{% endblock %}
