  <!-- footer starts -->
  <div id="footer">
    <footer class="footer">
      <div class="container">
        <div class="row justify-content-center">
          <a class="scroll-link" href="#top-of-page">
            <img src="../../static/images/front-page/logo.png">
          </a>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-lg-3">
            <p class="node">Academics</p>
            <ul class="list-unstyled">
              <li class="leaf">
                <a href="{{admission}}">Admission</a>
              </li>
              <li class="leaf">
                <a href="placements/index.html">Placement portal</a>
              </li>
              <li class="leaf">
                <a href="placements/pdf1.pdf">Placement brochure</a>
              </li>
              <li class="leaf">
                <a href="{{fee_structure}}">Fee Structure</a>
              </li>
              <li class="leaf">
                <a href="{{course_stru}}">Course Structure</a>
              </li>
              <li class="leaf">
                <a href="{{academic_cal}}">Acedemic Calender</a>
              </li>

            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-lg-3">
            <p class="node">Quick Links</p>
            <ul class="list-unstyled">
              <li class="leaf">
                <a href="{{eBrochure}}">E brochure</a>
              </li>
              <li class="leaf">
                <a href="{{faculty}}">Faculty Members</a>
              </li>
              <li class="leaf">
                <a href="{{administration}}">Administrative body</a>
              </li>
              <li class="leaf">
                <a href="{{mentor_institute}}">Mentor Institute</a>
              </li>

              <li class="leaf">
                <a href="{{anti_ragging}}">Anti ragging</a>
              </li>
              <li class="leaf">
                <a href="{{notifications}}">Notifications</a>
              </li>
              <li class="leaf">
                <a href="{{news_events}}">News and events</a>
              </li>
              <li class="leaf">
                <a href="{{iiitpppAct}}">IIIT-PPP act</a>
              </li>
              <li class="leaf">
                <a href="{{rti}}">RTI</a>
              </li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-lg-3">
            <p class="node">Explore IIITK</p>
            <ul class="list-unstyled">
              <li class="leaf">
                <a href="{{facilties}}">Facilities</a>
              </li>
              <li class="leaf">
                <a href="{{sports}}">Sports club</a>
              </li>
              <li class="leaf">
                <a href="fmc/index.html">Film and Media Club (FMC)</a>
              </li>

              <li class="leaf">
                <a href="{{music}}">Symphony (Music club)</a>
              </li>
              <li class="leaf">
                <a href="{{algoholics}}">Algoholic (Technical club)</a>
              </li>
              <li class="leaf">
                <a href="{{reach_iiit_kalyani}}">How to reach IIIT Kalyani</a>
              </li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-lg-3">
            <p class="node">Contact us</p>
            <ul class="list-unstyled">
              <address>Indian Institute of Information Technology, Kalyani
                <br> Webel IT Park (Near Buddha Park), Kalyani – 741235
                <br>Nadia, West Bengal</address>
              <a class="con" href="mailto: office@iiitkalyani.ac.in">office@iiitkalyani.ac.in</a>
              <br>
              <a href="mailto: admission@iiitkalyani.ac.in">admission@iiitkalyani.ac.in</a>

            </ul>
          </div>
        </div>
        <br>
        <div class="row justify-content-center">
          <div class="social-links">
            <a class="fa fa-google-plus-square" href="https://plus.google.com/113956524857746941344"></a>
            <a class="fa fa-facebook-square" href="https://www.facebook.com/iiitkalyani/"></a>
            <!-- <a class="fa fa-linkedin-square" href="http://www.linkedin.com/in/"></a> -->
            <a class="fa fa-twitter-square" href="https://twitter.com/iiit_kalyani?lang=en"></a>
            <a class="fa fa-youtube-square" href="https://www.youtube.com/channel/UCdnaperuWO_6YfXzEov6-QA/videos"></a>
          </div>
        </div>
        <hr>
        <div class="row justify-content-center">
          <p class="small">Copyright © 2017 IIIT Kalyani. All rights reserved.</p>
        </div>
        <div class="row justify-content-center">
          <ul class="list-unstyled list-end">
            <li>
              <a href="{{webteam}}">Web Team</a>
            </li>
            <li>
              <a href="https://docs.google.com/forms/d/e/1FAIpQLSfzO9mfsCZR23MZwn9y__0LXyu439SoTDqo8p4_mOuYtCOUTA/viewform?usp=sf_link">Feedback</a>
            </li>
            <!-- <li><a href="http://iiitkalyani.ac.in/" target="blank">Old website</a></li> -->
          </ul>
        </div>
      </div>
    </footer>
  </div>
