 {% extends "base.html" %} {% load static %} {% block base_head %}
	<link href="../../static/css/Campus.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya|Source+Serif+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Average|Maven+Pro" rel="stylesheet">
	<title>&nbsp;Medical Services - Indian Institute Of Information Technology Kalyani</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../static/images/facilities/IIIT_Kalyani_new_logo.ico">
{% endblock %} {% block content %}
	<div dir="ltr" >
		<div id="Campus-Carousel">
			<div class="row">
				<div class="col">
					<div id="myCarousel"  class="carousel slide" data-ride="carousel" >
						<div class="carousel-inner" role="listbox">
							<div class="carousel-item active">
								<img class="d-block img-fluid" src="../../static/images/facilities/Facilities_Images/jnm/JNMWIDESCREEN1.jpg" alt="medical Services">
							</div>
						</div>
						</div>
				</div>
			</div>
	    </div>
        <div id="spacing">

        </div>
	    <div class="" id="">
	    	<div class="row">
	    	<div class="col-lg-3 col-md-3 fac-sidebar" id="" >
	    		<div class="left-navigation">
                    <ul class="list">
                        <h5 style="font-family: 'Source Serif Pro', serif;"><a href="{{facilities}}" style="color: #3F3F3F;text-decoration: none;"><strong>FACILITIES</strong></a></h5>
                        <li><a href="{{campus}}" style="color: #3F3F3F; text-decoration: none;">Campus</a></li>
                        <li><a href="{{labs}}" style="color: #3F3F3F; text-decoration: none;">Software and Hardware Labs</a></li>
                        <li ><a href="{{library}}" style="color: #3F3F3F; text-decoration: none;">Library</a></li>
                        <li><a href="{{hostel}}" style="color: #3F3F3F; text-decoration: none;">Hostel</a></li>
                        <li id="title"><a href="{{medical}}" style="color: #3F3F3F; text-decoration: none;">Medical Services</a></li>
                        <li><a href="{{other}}" style="color: #3F3F3F; text-decoration: none;">Other Amenities</a></li>
                    </ul>
                </div>
	    	</div>
	    	<div class="col-md-9 col-lg-9 col-xs-12 col-sm-12">
	    	<div class="container" id="content">
	    	<h3 >Medical Services</h3>
	    	<p>Medical facilities in case of emergencies are facilitated by the institute. There is arrangement with JNMH at Kalyani for medical emergencies.Medical facilities in case of emergencies are facilitated by the institute. There is arrangement with JNMH at Kalyani for medical emergencies.Medical facilities in case of emergencies are facilitated by the institute. There is arrangement with JNMH at Kalyani for medical emergencies.Medical facilities in case of emergencies are facilitated by the institute. There is arrangement with JNMH at Kalyani for medical emergencies.</p>
	    	</div>
			</div>
			</div>
		</div>
	</div>
    <div id="spacing">

    </div>

{% endblock %} {% block base_foot %}
	<script type="text/javascript" src="../../static/js/frontpage/scripts.js"></script>
{% endblock %}


       