{% extends "base.html" %} {% load static %} {% block base_head %}
  <link rel="stylesheet" type="text/css" href="../../static/css/IIIT-ppp.css">
  <title>Mentor</title>
{% endblock %} {% block content %}
	<div class="container">
	<div class="iiitppp">
	  <br>
	  <br>
	<h1>Why IIIT Kalyani</h1>
	<hr>
	<br>
	<p>IIIT Kalyani is being mentored by Indian Institute of Technology, Kharagpur (IIT Kharagpur). <a href="http://www.iitkgp.ac.in/" target="_blank">Visit IIT Kharagpur website.</a></p>
	<br>
	<br>
	</div>
	</div>
{% endblock %} {% block base_foot %}
	<script type="text/javascript" src="../../static/js/frontpage/scripts.js"></script>
{% endblock %}





 
       

