<!-- <script>
  (function() {
    var cx = '006158153867003141322:jlgijze17-w';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search> -->


<div id="top-of-page" class="header-top">

  <div class="header-navbar">
    <nav id="big-screen" class="navbar navbar-toggleable-xl">
      <div class="container">

        <!-- <div class="collapse navbar-collapse" id="navbarNavAltMarkup1"> -->
        <ul id="big-screen" class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{reach_iiit_kalyani}}">How to reach</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{contact_us}}">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{notifications}}">Notifications</a>
          </li>
          <!-- <li class="nav-item">
      <a class="nav-link" href="#">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Register</a>
    </li> -->
        </ul>

        <div id="big-screen" class="row">
          <div class="col-lg-12">

            <form id="search" method="get" id="016180310773126037638:5no86vhxxiy" action="http://google.com/cse">
              <input value="016180310773126037638:5no86vhxxiy" name="cx" type="hidden" />
              <!-- <input value="FORID:11" name="cof" type="hidden"/> -->
              <input id="q" name="q" size="70" type="text" placeholder="Search..." />
            </form>


          </div>
        </div>
      </div>
    </nav>


    <nav id="small-screen" class="navbar navbar-toggleable-xl">
      <ul id="small-screen" class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{reach_iiit_kalyani}}">
            <span class="fa fa-cab"></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{contact_url}}">
            <span class="fa fa-phone"></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{notifications}}">
            <span class="fa fa-bell"></span>
          </a>
        </li>
        <!-- <li class="nav-item">
      <a class="nav-link" href="#"><span class="fa fa-sign-in"></span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><span class="fa fa-user-plus"></span></a>
    </li> -->
        <form id="search" method="get" id="006158153867003141322:jlgijze17-w" action="http://google.com/cse">
          <input value="006158153867003141322:jlgijze17-w" name="cx" type="hidden" />
          <!-- <input value="FORID:11" name="cof" type="hidden"/> -->
          <input id="q" name="q" size="70" type="text" placeholder="Search..." />
        </form>
      </ul>
    </nav>


  </div>

  <!-- <div class="container">
<div class="row justify-content-center"><a  href="#"><img src="img/logo-blue-small.png"> </a>
</div>
<div class=" top-logo-text">
<a href="#">
  <div class="row justify-content-center">
    <p>Indian Institute of Information Technology</p>
  </div>
  <div class="row justify-content-center">
    <p>Kalyani</p>
  </div>
</a>
</div>
</div> -->

  <div class="container">
    <div class="container">
      <div class="row top-logo-text align-self-center">
        <!-- <div class="col-sm-2">  -->
        <a class="scroll-link" href="#aboutus">
          <img class="img-fluid" src="../static/images/front-page/logo-blue-small.png">
        </a>

        <!-- <div class="col-sm-10 top-logo-text align-self-center"> -->
        <a style="padding-top: 8px;" href="#aboutus" class="scroll-link">


          <p>&nbsp Indian Institute of Information Technology
            <br>&nbsp
            <span>Kalyani, West Bengal</span>
            <!-- <br> &nbsp<span class="small">(Mentored by IIT Kharagpur)</span> -->
            <br>&nbsp
            <span style="color: grey" class="small">(mentored by IIT Kharagpur)</span>
          </p>
        </a>

        <!-- <p><br>(Mentored by IIT Kharagpur)</p> -->
        <!--     </div> -->
      </div>
    </div>
  </div>
</div>

<div id="first-navbar"></div>

<nav style="z-index: 999;" id="startchange" class="navbar sticky-top navbar-toggleable-sm navbar-light bg-faded">
  <div class="container">


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mr-auto">
        <a id="first-nav" href="#" class="nav-item nav-link leaf first-nav-active">Home</a>
        <div class="dropdown-link">
          <a id="first-nav" class="nav-item nav-link leaf">About IIITK</a>
          <div class="dropdown-content" id="dropdown-content">
            <a href="../static/images/administrationimg/Message-of-Mentor-Director.pdf">Director's message</a>
            <a href="{{why_iiit}}">Why IIIT Kalyani</a>
            <a href="{{administration}}">Administrative body</a>
            <a href="{{mentor_institute}}">Mentor Institute</a>
            <a href="{{iiitpppAct}}">IIIT-PPP Act</a>
            <a href="{{rti}}">RTI information</a>
            <!--  <a href="#">Caution Money Withdrawal</a> -->
          </div>
        </div>
        <div class="dropdown-link">
          <a id="first-nav" class="nav-item nav-link leaf">Academics</a>
          <div class="dropdown-content" id="dropdown-content">
            <a href="{{programmes}}">Programmes</a>
            <a href="{{admission}}">Admissions</a>
            <a href="{{academic_cal}}">Academic calender</a>
            <a href="{{course_stru}}">Course Structure</a>
            <a href="{{fee_structure}}">Fee Structure</a>

          </div>
        </div>

        <div class="dropdown-link">
          <a id="first-nav" href="{{faculty}}" class="nav-item nav-link leaf">Faculty</a>
          <!-- <div class="dropdown-content" id="dropdown-content">
                      <a href="../templates/html/faculty.html">Current Faculty</a>
                  </div> -->
        </div>

        <div class="dropdown-link">
          <a id="first-nav" class="nav-item nav-link leaf">Students</a>
          <div class="dropdown-content" id="dropdown-content">
            <a href="../static/images/front-page/curr_students.pdf">Current Students</a>
            <a href="{{admissionug}}#f-aid">Scope of Financial aid</a>
            <a href="{{regul_rules}}">Regulatory rules</a>
            <a href="{{anti_ragging}}">Anti ragging</a>
            <a href="{{eBrochure}}">E brouchure</a>
            <!-- <div class="dropdown-link">
                     <a id="first-nav" class="nav-item nav-link leaf">Placements</a>
                    <div class="dropdown-content" id="dropdown-content">
                      <a href="placements/index.html">Placement portal</a>
                      <a href="placements/pdf1.pdf">Placement brochure</a>

                    </div> -->

          </div>
        </div>

        <div class="dropdown-link">
          <a id="first-nav" class="nav-item nav-link leaf">Placements</a>
          <div class="dropdown-content" id="dropdown-content">
            <a href="placements/index.html">Placement portal</a>
            <a href="placements/pdf1.pdf">Placement brochure</a>

          </div>
        </div>

        <div class="dropdown-link">
          <a id="first-nav" class="nav-item nav-link leaf">Facilities</a>
          <div class="dropdown-content" id="dropdown-content">
            <a href="{{facilties}}">All facilities</a>
            <a href="{{campus}}">Campus</a>
            <a href="{{labs}}">Labs</a>
            <a href="{{library}}">Library</a>
            <a href="{{hostel}}">Hostel</a>
            <a href="{{medical}}">Medical Services</a>
            <a href="{{other}}">Other Amenities</a>
          </div>
        </div>

        <div class="dropdown-link">
          <a id="first-nav" class="nav-item nav-link leaf">Gymkhana</a>
          <div class="dropdown-content" id="dropdown-content">

            <a href="{{sports}}">Sports Club</a>
            <a href="fmc/index.html">Film and Media Club (FMC)</a>
            <a href="{{music}}">Symphony (Music club)</a>
            <a href="{{algoholics}}">Algoholic (Technical club)</a>
          </div>
        </div>
      </div>
    </div>
    <span id="big-screen" class="nav-imagelogo">
      <a class="scroll-link" href="#top-of-page">
        <img class="img-fluid" src="../static/images/front-page/logo.png">
      </a>
    </span>
  </div>
</nav>