<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>News and Events</title>
    <link rel="shortcut icon" href="symp.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Dosis|Kaushan+Script" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../css/animate.css">
<script src="../js/wow.min.js"></script>
             <script>
             new WOW().init();
             </script>
             <style>body{overflow-x: hidden;}</style>
  </head>
  <body>

    <div class="news">
      <div class="container">
      <h1 style="text-align:center;font-family:Dosis,'sans-serif;'">News</h1>
      <div class="line" style="height:2px;width:200px;background:yellow;margin:0 auto;margin-bottom:20px;"></div>
    <div class="row">
        <div class="col-xs-12 col-md-4 col-sm-12 wow fadeIn" data-wow-duration="4s" data-wow-delay="0s">
          <img src="../images/front-page/news.jpg" class="img-fluid" style="height:200px;">
          <h5><span class="news-date">28 Nov, 2017</span>
          <br>Computer Literacy Program: 13th December to 30th December 2017</h5>
          <p>IIIT Kalyani is organizing computer literacy program from 13th December to 30th December 2017.</p>
        </div>
        <div class="col-xs-12 col-md-4 col-sm-12 wow fadeIn" data-wow-duration="4s" data-wow-delay="0.5s">
          <img src="../images/front-page/news.jpg" class="img-fluid" style="height:200px">
          <h5><span class="news-date">28 Nov, 2017</span>
          <br>Computer Literacy Program: 13th December to 30th December 2017</h5>
          <p>IIIT Kalyani is organizing computer literacy program from 13th December to 30th December 2017.</p>
        </div>
        <div class="col-xs-12 col-md-4 col-sm-12 wow fadeIn" data-wow-duration="4s" data-wow-delay="1s">
          <img src="../images/front-page/news.jpg" class="img-fluid" style="height:200px">
          <h5><span class="news-date">28 Nov, 2017</span>
          <br>Computer Literacy Program: 13th December to 30th December 2017</h5>
          <p>IIIT Kalyani is organizing computer literacy program from 13th December to 30th December 2017.</p>
        </div>
  </div>
  <div class="row">
      <div class="col-xs-12 col-md-4 col-sm-12  wow fadeIn" data-wow-duration="4s" data-wow-delay="1.5s">
        <img src="../images/front-page/news.jpg" class="img-fluid" style="height:200px;">
        <h5><span class="news-date">28 Nov, 2017</span>
        <br>Computer Literacy Program: 13th December to 30th December 2017</h5>
        <p>IIIT Kalyani is organizing computer literacy program from 13th December to 30th December 2017.</p>
      </div>
      <div class="col-xs-12 col-md-4 col-sm-12 wow fadeIn" data-wow-duration="4s" data-wow-delay="2s">
        <img src="../images/front-page/news.jpg" class="img-fluid" style="height:200px">
        <h5><span class="news-date">28 Nov, 2017</span>
        <br>Computer Literacy Program: 13th December to 30th December 2017</h5>
        <p>IIIT Kalyani is organizing computer literacy program from 13th December to 30th December 2017.</p>
      </div>
      <div class="col-xs-12 col-md-4 col-sm-12 wow fadeIn" data-wow-duration="4s" data-wow-delay="2.5s">
        <img src="../images/front-page/news.jpg" class="img-fluid" style="height:200px">
        <h5><span class="news-date">28 Nov, 2017</span>
        <br>Computer Literacy Program: 13th December to 30th December 2017</h5>
        <p>IIIT Kalyani is organizing computer literacy program from 13th December to 30th December 2017.</p>
      </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-4 col-sm-12 wow fadeIn" data-wow-duration="4s" data-wow-delay="0.5s">
      <img src="../images/front-page/news.jpg" class="img-fluid" style="height:200px;">
      <h5><span class="news-date">28 Nov, 2017</span>
      <br>Computer Literacy Program: 13th December to 30th December 2017</h5>
      <p>IIIT Kalyani is organizing computer literacy program from 13th December to 30th December 2017.</p>
    </div>
    <div class="col-xs-12 col-md-4 col-sm-12 wow fadeIn" data-wow-duration="4s" data-wow-delay="1s">
      <img src="../images/front-page/news.jpg" class="img-fluid" style="height:200px">
      <h5><span class="news-date">28 Nov, 2017</span>
      <br>Computer Literacy Program: 13th December to 30th December 2017</h5>
      <p>IIIT Kalyani is organizing computer literacy program from 13th December to 30th December 2017.</p>
    </div>
    <div class="col-xs-12 col-md-4 col-sm-12 wow fadeIn" data-wow-duration="4s" data-wow-delay="1.5s">
      <img src="../images/front-page/news.jpg" class="img-fluid" style="height:200px">
      <h5><span class="news-date">28 Nov, 2017</span>
      <br>Computer Literacy Program: 13th December to 30th December 2017</h5>
      <p>IIIT Kalyani is organizing computer literacy program from 13th December to 30th December 2017.</p>
    </div>
</div>
</div>
  </div>

  <div class="events">
    <h1 style="text-align:center;font-family:Dosis,'sans-serif;'">Events</h1>
    <div class="line" style="height:2px;width:200px;background:yellow;margin:0 auto;margin-bottom:20px;"></div>
    <div class="container">
    <div class="row" style="padding-bottom:20px;">
      <div class="col-md-4 wow fadeIn" data-wow-duration="4s" data-wow-delay="0s">
        <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="../images/front-page/img.jpg" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
      </div>
      <div class="col-md-4 wow fadeIn" data-wow-duration="4s" data-wow-delay="0.5s">
        <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="../images/front-page/img.jpg" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
      </div>
      <div class="col-md-4 wow fadeIn" data-wow-duration="4s" data-wow-delay="1s">
        <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="../images/front-page/img.jpg" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
      </div>
    </div>
    <div class="row" style="padding-bottom:20px;">
      <div class="col-md-4 wow fadeIn" data-wow-duration="4s" data-wow-delay="0s">
        <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="../images/front-page/img.jpg" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
      </div>
      <div class="col-md-4 wow fadeIn" data-wow-duration="4s" data-wow-delay="0.5s">
        <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="../images/front-page/img.jpg" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
      </div>
      <div class="col-md-4 wow fadeIn" data-wow-duration="4s" data-wow-delay="1s">
        <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="../images/front-page/img.jpg" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
      </div>
    </div>
    <div class="row" style="padding-bottom:20px;">
      <div class="col-md-4 wow fadeIn" data-wow-duration="4s" data-wow-delay="0s">
        <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="../images/front-page/img.jpg" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
      </div>
      <div class="col-md-4 wow fadeIn" data-wow-duration="4s" data-wow-delay="0.5s">
        <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="../images/front-page/img.jpg" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
      </div>
      <div class="col-md-4 wow fadeIn" data-wow-duration="4s" data-wow-delay="1s">
        <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="../images/front-page/img.jpg" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
      </div>
    </div><div class="row">
      <div class="col-md-4 wow fadeIn" data-wow-duration="4s" data-wow-delay="0s">
        <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="../images/front-page/img.jpg" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
      </div>
      <div class="col-md-4 wow fadeIn" data-wow-duration="4s" data-wow-delay="0.5s">
        <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="../images/front-page/img.jpg" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
      </div>
      <div class="col-md-4 wow fadeIn" data-wow-duration="4s" data-wow-delay="1s">
        <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="../images/front-page/img.jpg" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
      </div>
    </div>
  </div>
  </div>

  </body>
</html>
