{% extends "base.html" %} {% load static %} {% block base_head %}
	<link rel="stylesheet" type="text/css" href="../../static/css/IIIT-ppp.css">
	<title>News and events</title>
{% endblock %} {% block content %}
<br>
 <div class="news">
      <div class="container">
      <h1 style="text-align:center;font-family:Dosis,'sans-serif;'">News</h1>
      <div class="line" style="height:2px;width:200px;background:yellow;margin:0 auto;margin-bottom:20px;"></div>
    <div class="row">
      <div class="col-xs-12 col-md-4 col-sm-12 wow fadeIn" data-wow-duration="4s" data-wow-delay="0s">
          <img src="../../static/images/front-page/campusrec.jpg" class="img-fluid" style="height:200px;width:100%;">
          <h5><span class="news-date">10 Mar, 2017</span>
          <br>Campus Recruitment Drive</h5>
          <p>IIIT Kalyani is organizing its first campus recruitment drive on 10th and 11th March.</p>
        </div>
        <div class="col-xs-12 col-md-4 col-sm-12 wow fadeIn" data-wow-duration="4s" data-wow-delay="0.5s">
          <img src="../../static/images/front-page/computer.png" class="img-fluid" style="height:200px;width:100%;">
          <h5><span class="news-date">28 Nov, 2017</span>
          <br>Computer Literacy Program: 13th December to 30th December 2017</h5>
          <p>IIIT Kalyani is organizing computer literacy program from 13th December to 30th December 2017.</p>
        </div>
        <div class="col-xs-12 col-md-4 col-sm-12 wow fadeIn" data-wow-duration="4s" data-wow-delay="1s">
          <img src="../../static/images/front-page/phd.jpeg" class="img-fluid" style="height:200px;width:100%;">
          <h5><span class="news-date">28 Nov, 2017</span>
           <br>PhD Admission even semester 2018</h5>
         <p>PhD shortlisting is done. List in Notifications.
         Applications are invited for PhD admission. Details in Notifications.</p>
        </div>

  </div>
  <div class="row">
     <div class="col-xs-12 col-md-4 col-sm-12 wow fadeIn" data-wow-duration="4s" data-wow-delay="1s">
          <img src="../../static/images/front-page/national.jpeg" class="img-fluid" style="height:200px">
          <h5><span class="news-date">16 March, 2017</span>
                <br>IIIT Kalyani has received status of Institute of National Importance</h5>
                <p>The parliament has passed the IIIT Act where in Indian Institute of Information Technology Kalyani has received the status of Institute of National Importance, giving the authority to award Degrees to all our students.</p>
        </div>
      <div class="col-xs-12 col-md-4 col-sm-12  wow fadeIn" data-wow-duration="4s" data-wow-delay="1.5s">
        <img src="../../static/images/front-page/iitkgp.jpg" class="img-fluid" style="height:200px;">
        <h5><span class="news-date">10 Feb, 2017</span>
                   <br>Change of mentor institute</h5>
                   <p>Indian Institute of Technology, Kharagpur is now mentoring IIIT Kalyani.</p>
      </div>
      <div class="col-xs-12 col-md-4 col-sm-12 wow fadeIn" data-wow-duration="4s" data-wow-delay="2s">
        <img src="../../static/images/front-page/ud.png" class="img-fluid" style="height:200px;width:90%;">
        <h5><span class="news-date">28 Nov, 2017</span>
        <br>Dr.Uma Das</h5>
        <p>Dr. Uma Das received the SCOSTEP Visiting Scholarship 2017. She will be working for two months at Nagoya University, Japan on Short Term Tidal Variability.</p>
      </div>

</div>

</div>
  </div>

<div id="events_page"></div>
<br>
<br>
<br>

  <div  class="events">
    <h1 style="text-align:center;font-family:Dosis,'sans-serif;'">Events</h1>
    <div class="line" style="height:2px;width:200px;background:yellow;margin:0 auto;margin-bottom:20px;"></div>
    <div class="container">
      <div class="row" style="padding-bottom:20px;">
      <div class="col-md-4 wow fadeIn" data-wow-duration="4s" data-wow-delay="0s">
        <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="../../static/images/front-page/poster.jpg" alt="Card image cap" style="height:300px;">
  <div class="card-block">
    <h4 class="card-title">Orientation Day</h4>
    <p class="card-text">Symphony(IIIT-Kalyani's Music Club) Orientation Day.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
      </div>
      <div class="col-md-4 wow fadeIn" data-wow-duration="4s" data-wow-delay="0.5s">
        <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="../../static/images/front-page/campus.jpg" alt="Card image cap" style="height:300px;">
  <div class="card-block">
    <h4 class="card-title">Campus Placements</h4>
    <p class="card-text">Indian Institute of Information Technology Kalyani is about to participate in it's first campus placement<br></p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
      </div>
      <div class="col-md-4 wow fadeIn" data-wow-duration="4s" data-wow-delay="1s">
        <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="../../static/images/front-page/quiz.jpg" alt="Card image cap" style="height:300px;">
  <div class="card-block">
    <h4 class="card-title">Le Tour De India</h4>
    <p class="card-text">'Le Tour De India' - the quiz competition certainly took us on an enlightening voyage through India.
      We applaud all the participants and congratulate the winners.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
      </div>
    </div>
    <div class="row" style="padding-bottom:20px;">
      <div class="col-md-4 wow fadeIn" data-wow-duration="4s" data-wow-delay="0s">
        <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="../../static/images/front-page/kite.JPG" alt="Card image cap" style="height:300px;">
  <div class="card-block">
    <h4 class="card-title">Kite Competition</h4>
    <p class="card-text">Indian Institute of Information Technology - IIIT Kalyani celebrates
69th republic Day<br>
#Kite_Flying_Festival.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
      </div>
      <div class="col-md-4 wow fadeIn" data-wow-duration="4s" data-wow-delay="0.5s">
        <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="../../static/images/front-page/republic.jpg" alt="Card image cap" style="height:300px;">
  <div class="card-block">
    <h4 class="card-title">Republic Day Celebrations</h4>
    <p class="card-text">Indian Institute of Information Technology - IIIT Kalyani celebrates
69th republic Day<br></p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
      </div>
      <div class="col-md-4 wow fadeIn" data-wow-duration="4s" data-wow-delay="1s">
        <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="../../static/images/front-page/puja.jpg" alt="Card image cap" style="height:300px;">
  <div class="card-block">
    <h4 class="card-title">Sarswati Puja Celebrations</h4>
    <p class="card-text">ॐ अर्हं मुख कमल वासिनी पापात्म क्षयम्कारी
वद वद वाग्वादिनी सरस्वती ऐं ह्रीं नमः स्वाहा॥</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
      </div>
    </div>
    <div class="row" style="padding-bottom:20px;">
      <div class="col-md-4 wow fadeIn" data-wow-duration="4s" data-wow-delay="0s">
        <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="../../static/images/front-page/patel.jpg" alt="Card image cap" style="height:300px;">
  <div class="card-block">
    <h4 class="card-title">Sardar Vallabhbhai Birthday Celebrations</h4>
    <p class="card-text">"There is something unique in this soil, which despite many obstacles has always remained the abode of great souls"

IIIT Kalyani celebrated #RashtriyaEktaDiwas today. </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
      </div>
      <div class="col-md-4 wow fadeIn" data-wow-duration="4s" data-wow-delay="0.5s">
        <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="../../static/images/front-page/parv.jpg" alt="Card image cap" style="height:300px;">
  <div class="card-block">
    <h4 class="card-title">Paryatan Parv</h4>
    <p class="card-text">Tourism itself is all about celebration and #ParyatanParv celebrates tourism across the country during the festive seasons.

IIIT Kalyani celebrates #FestivalOfFestivals .

.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
      </div>
      <div class="col-md-4 wow fadeIn" data-wow-duration="4s" data-wow-delay="1s">
        <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="../../static/images/front-page/seminar.jpg" alt="Card image cap" style="height:300px;">
  <div class="card-block">
    <h4 class="card-title">Talk by Dr. Tirthankar Dasgupta</h4>
    <p class="card-text">A resource rich interactive lecture by Dr. Tirthankar Dasgupta from TCS Innovative Lab on Enterprise Information Extraction
from Open Web and Natural Language Processing.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
      </div>
    </div>
    <div class="row" style="padding-bottom:20px;">
      <div class="col-md-4 wow fadeIn" data-wow-duration="4s" data-wow-delay="0s">
        <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="../../static/images/front-page/nasscom.jpg" alt="Card image cap" style="height:300px;">
  <div class="card-block">
    <h4 class="card-title">Nasscom Seminar</h4>
    <p class="card-text">Indian Institute of Information Technology - IIIT Kalyani had a fortunate opportunity to be part of an innovative seminar conducted by NASSCOM ,Mr. Atul Prakash Agarwal graced the lecture with his knowledgeable presence ..</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
      </div>
      <div class="col-md-4 wow fadeIn" data-wow-duration="4s" data-wow-delay="0.5s">
        <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="../../static/images/front-page/teacher.jpg" alt="Card image cap" style="height:300px;">
  <div class="card-block">
    <h4 class="card-title">Teachers Day </h4>
    <p class="card-text">Indian Institute of Information Technology takes an active part in Teachers Day Celebrations</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
      </div>
      <div class="col-md-4 wow fadeIn" data-wow-duration="4s" data-wow-delay="1s">
        <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="../../static/images/front-page/independence.png" alt="Card image cap" style="height:300px;">
  <div class="card-block">
    <h4 class="card-title">Independence Day Celebrations</h4>
    <p class="card-text">Celebrate the spirit of freedom and soar high as our country
rejoices the 70th year of prosperity,progression and peace.

IIIT KALYANI wishes you all a very Happy Independence Day..</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
      </div>
    </div>
  </div>
  </div>

{% endblock %} {% block base_foot %}
 <script type="text/javascript" src="../../static/js/frontpage/scripts.js"></script>
{% endblock %} 