{% extends "base.html" %} {% load static %} {% block base_head %}
	<title>News and Events</title>
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Dosis|Kaushan+Script" rel="stylesheet">
	<script src="../../static/js/wow.min.js"></script>
				 <script>
				 new WOW().init();
				 </script>
				 <style>body{overflow-x: hidden;}</style>
{% endblock %} {% block content %}
    <div class="news">
      <div class="container">
      <h1 style="text-align:center;font-family:Dosis,'sans-serif;'">News</h1>
      <div class="line" style="height:2px;width:200px;background:yellow;margin:0 auto;margin-bottom:20px;"></div>
    <div class="row">
        <div class="col-xs-12 col-md-4 col-sm-12 wow fadeIn" data-wow-duration="4s" data-wow-delay="0s">
          <img src="../../static/images/front-page/news.jpg" class="img-fluid" style="height:200px;">
          <h5><span class="news-date">28 Nov, 2017</span>
          <br>Computer Literacy Program: 13th December to 30th December 2017</h5>
          <p>IIIT Kalyani is organizing computer literacy program from 13th December to 30th December 2017.</p>
        </div>
        <div class="col-xs-12 col-md-4 col-sm-12 wow fadeIn" data-wow-duration="4s" data-wow-delay="0.5s">
          <img src="../../static/images/front-page/news.jpg" class="img-fluid" style="height:200px">
          <h5><span class="news-date">28 Nov, 2017</span>
          <br>Computer Literacy Program: 13th December to 30th December 2017</h5>
          <p>IIIT Kalyani is organizing computer literacy program from 13th December to 30th December 2017.</p>
        </div>
        <div class="col-xs-12 col-md-4 col-sm-12 wow fadeIn" data-wow-duration="4s" data-wow-delay="1s">
          <img src="../../static/images/front-page/news.jpg" class="img-fluid" style="height:200px">
          <h5><span class="news-date">28 Nov, 2017</span>
          <br>Computer Literacy Program: 13th December to 30th December 2017</h5>
          <p>IIIT Kalyani is organizing computer literacy program from 13th December to 30th December 2017.</p>
        </div>
  </div>
  <div class="row">
      <div class="col-xs-12 col-md-4 col-sm-12  wow fadeIn" data-wow-duration="4s" data-wow-delay="1.5s">
        <img src="../../static/images/front-page/news.jpg" class="img-fluid" style="height:200px;">
        <h5><span class="news-date">28 Nov, 2017</span>
        <br>Computer Literacy Program: 13th December to 30th December 2017</h5>
        <p>IIIT Kalyani is organizing computer literacy program from 13th December to 30th December 2017.</p>
      </div>
      <div class="col-xs-12 col-md-4 col-sm-12 wow fadeIn" data-wow-duration="4s" data-wow-delay="2s">
        <img src="../../static/images/front-page/news.jpg" class="img-fluid" style="height:200px">
        <h5><span class="news-date">28 Nov, 2017</span>
        <br>Computer Literacy Program: 13th December to 30th December 2017</h5>
        <p>IIIT Kalyani is organizing computer literacy program from 13th December to 30th December 2017.</p>
      </div>
      <div class="col-xs-12 col-md-4 col-sm-12 wow fadeIn" data-wow-duration="4s" data-wow-delay="2.5s">
        <img src="../../static/images/front-page/news.jpg" class="img-fluid" style="height:200px">
        <h5><span class="news-date">28 Nov, 2017</span>
        <br>Computer Literacy Program: 13th December to 30th December 2017</h5>
        <p>IIIT Kalyani is organizing computer literacy program from 13th December to 30th December 2017.</p>
      </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-4 col-sm-12 wow fadeIn" data-wow-duration="4s" data-wow-delay="0.5s">
      <img src="../../static/images/front-page/news.jpg" class="img-fluid" style="height:200px;">
      <h5><span class="news-date">28 Nov, 2017</span>
      <br>Computer Literacy Program: 13th December to 30th December 2017</h5>
      <p>IIIT Kalyani is organizing computer literacy program from 13th December to 30th December 2017.</p>
    </div>
    <div class="col-xs-12 col-md-4 col-sm-12 wow fadeIn" data-wow-duration="4s" data-wow-delay="1s">
      <img src="../../static/images/front-page/news.jpg" class="img-fluid" style="height:200px">
      <h5><span class="news-date">28 Nov, 2017</span>
      <br>Computer Literacy Program: 13th December to 30th December 2017</h5>
      <p>IIIT Kalyani is organizing computer literacy program from 13th December to 30th December 2017.</p>
    </div>
    <div class="col-xs-12 col-md-4 col-sm-12 wow fadeIn" data-wow-duration="4s" data-wow-delay="1.5s">
      <img src="../../static/images/front-page/news.jpg" class="img-fluid" style="height:200px">
      <h5><span class="news-date">28 Nov, 2017</span>
      <br>Computer Literacy Program: 13th December to 30th December 2017</h5>
      <p>IIIT Kalyani is organizing computer literacy program from 13th December to 30th December 2017.</p>
    </div>
</div>
</div>
  </div>

  <div class="events">
    <h1 style="text-align:center;font-family:Dosis,'sans-serif;'">Events</h1>
    <div class="line" style="height:2px;width:200px;background:yellow;margin:0 auto;margin-bottom:20px;"></div>
    <div class="container">
    <div class="row" style="padding-bottom:20px;">
      <div class="col-md-4 wow fadeIn" data-wow-duration="4s" data-wow-delay="0s">
        <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="../../static/images/front-page/img.jpg" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
      </div>
      <div class="col-md-4 wow fadeIn" data-wow-duration="4s" data-wow-delay="0.5s">
        <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="../../static/images/front-page/img.jpg" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
      </div>
      <div class="col-md-4 wow fadeIn" data-wow-duration="4s" data-wow-delay="1s">
        <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="../../static/images/front-page/img.jpg" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
      </div>
    </div>
    <div class="row" style="padding-bottom:20px;">
      <div class="col-md-4 wow fadeIn" data-wow-duration="4s" data-wow-delay="0s">
        <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="../../static/images/front-page/img.jpg" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
      </div>
      <div class="col-md-4 wow fadeIn" data-wow-duration="4s" data-wow-delay="0.5s">
        <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="../../static/images/front-page/img.jpg" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
      </div>
      <div class="col-md-4 wow fadeIn" data-wow-duration="4s" data-wow-delay="1s">
        <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="../../static/images/front-page/img.jpg" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
      </div>
    </div>
    <div class="row" style="padding-bottom:20px;">
      <div class="col-md-4 wow fadeIn" data-wow-duration="4s" data-wow-delay="0s">
        <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="../../static/images/front-page/img.jpg" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
      </div>
      <div class="col-md-4 wow fadeIn" data-wow-duration="4s" data-wow-delay="0.5s">
        <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="../../static/images/front-page/img.jpg" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
      </div>
      <div class="col-md-4 wow fadeIn" data-wow-duration="4s" data-wow-delay="1s">
        <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="../../static/images/front-page/img.jpg" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
      </div>
    </div><div class="row">
      <div class="col-md-4 wow fadeIn" data-wow-duration="4s" data-wow-delay="0s">
        <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="../../static/images/front-page/img.jpg" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
      </div>
      <div class="col-md-4 wow fadeIn" data-wow-duration="4s" data-wow-delay="0.5s">
        <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="../../static/images/front-page/img.jpg" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
      </div>
      <div class="col-md-4 wow fadeIn" data-wow-duration="4s" data-wow-delay="1s">
        <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="../../static/images/front-page/img.jpg" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
      </div>
    </div>
  </div>
  </div>
{% endblock %} {% block base_foot %}
{% endblock %}