{% extends "base.html" %} {% load static %} {% block base_head %}
  <link rel="stylesheet" type="text/css" href="../../static/css/IIIT-ppp.css">
  <title>Notifications</title>
{% endblock %} {% block content %}
<div class="container">
<div class="iiitppp">
  <br>
  <br>
<h1>Notifications</h1>
<hr>
<br>
<div class="entry-content">
    <h2>PhD Admission Even Semester 2018</h2>
<ul>
<li class="first-child"><a href="../../static/images/notifications/Final-Selected-list_display.pdf">List of Selected Candidates</a></li>
<li><a href="../../static/images/notifications/PhD-admission_adv-2017-IIITK.pdf">Advertisement</a></li>
<li class="last-child"><a href="../../static/images/notifications/PhD_application_form1_2017-IIITK.doc">Application Form</a></li>
</ul>
<h2>Recruitments</h2>
<ul>
<li class="first-child"><a href="../../static/images/notifications/NotificationF_NF_07.pdf">Notice regarding Recruitment of Faculty</a></li>
<li><a href="../../static/images/notifications/1.pdf">Recruitment of Faculty</a></li>
<li><a href="../../static/images/notifications/2.pdf">Application Form for Faculty</a></li>
<li><a href="../../static/images/notifications/3.pdf">Recruitment of Technical Assistants</a></li>
<li class="last-child"><a href="../../static/images/notifications/4.pdf">Application Form for Non-Faculty</a></li>
</ul>
<h2>Tenders</h2>
<ul>
<li class="first-child"><a href="../../static/images/notifications/Tender-for-software.docx">Tender for Softwares</a></li>
<li><a href="../../static/images/notifications/Tender-for-DPS.docx">Tender for Dual Power Supply</a></li>
<li><a href="../../static/images/notifications/Tender-sprts.docx">Tender for Sports Items</a></li>
<li><a href="../../static/images/notifications/New-tender-electronic-items-dec17-1.docx">Tender for Electronics Items</a></li>
<li><a href="../../static/images/notifications/tender-printer-latestr-1.docx">Tender for Printers</a></li>
<li><a href="../../static/images/notifications/extension-of-tender-date.docx">Extension of date of receiving Tenders</a></li>
<li><a href="../../static/images/notifications/Announcement-of-Tender-opening-date-time.docx">Announcement of Tender opening Date and Time</a></li>
<li><a href="../../static/images/notifications/Tender-Water-Cooler.docx">Tender for Water-cooler-cum-Purifier (New)</a></li>
<li><a href="../../static/images/notifications/eoi-final.doc">EOI for Cafeteria</a></li>
<li><a href="../../static/images/notifications/Tender-For-Guest-House-Items..docx">Tender for Guest House Items</a></li>
<li><a href="../../static/images/notifications/Manpower-requirement-Tender-FINAL-Copy.docx">Tender for Manpower</a></li>
<li><a href="../../static/images/notifications/Final-mess-tender.docx">Tender for Mess Services</a></li>
<li><a href="../../static/images/notifications/Tender-Document-printer.docx">Tender for Printer (New)</a></li>
<li><a href="../../static/images/notifications/Extension-of-Date-of-Submission-a.docx">Extension of Date of Submission against Tender No. IIITK/RFP/2017/54 dated 04/10/2017</a></li>
<li><a href="../../static/images/notifications/Extension-of-Date-of-Submission-a.docx">Extension of Date of Submission against Tender No. IIITK/Tender/2017/52 dated 04/10/2017</a></li>
<li><a href="../../static/images/notifications/49_tender-Answescript_-2017.docx">Tender for Printing Answer-scripts.</a>&nbsp;(New)</li>
<li><a href="../../static/images/notifications/Tender-Water-Cooler.docx">Tender for Water Cooler-cum-purifiers.</a></li>
<li><a href="../../static/images/notifications/Tender-Document.docx">Tender for Printer.</a></li>
<li><a href="../../static/images/notifications/Tender-UPS.docx">Tender for UPS.</a></li>
<li><a href="../../static/images/notifications/tender-Antivirus.docx">Tender for Antivirus Software.</a></li>
<li><a href="../../static/images/notifications/51_tender-Stat_2017.pdf">Tender for Supply of Office Stationaries.</a></li>
<li><a href="../../static/images/notifications/49_tender-Answescript_-2017.pdf">Tender for Printing Answerscripts.</a></li>
<li><a href="../../static/images/notifications/Tender-LABE-urgent-28.8.docx">Tender for Supply of Electronics Items (URGENT LATEST).</a></li>
<li><a href="../../static/images/notifications/Tender-LABE-urgent-latest.docx">Tender for Supply of Electronics Items (URGENT).</a></li>
<li><a href="../../static/images/notifications/Quotation-for-newspaper_mag.pdf">Tender for Newspapers and Magazines.</a></li>
<li><a href="../../static/images/notifications/Tender-LABE.docx">Tender for Lab Equipment.</a>&nbsp;<a href="../images/notifications/corrigendum.docx">Corrigendum.</a></li>
<li><a href="../../static/images/notifications/Download-Notice-inviting-tender-for-purchase-of-Desktop-Computer.pdf">Tender for Desktop Computers</a>, <a href="../images/notifications/Addendum.pdf">Addendum</a>.</li>
<li><a href="../../static/images/notifications/Tender-for-Bus.docx">Tender for Bus Service</a></li>
<li class="last-child"><a href="../../static/images/notifications/Tender-Document-for-Printer.pdf">Tender for Printers</a>. <a href="../images/notifications/Corrigendum-1.pdf">Corrigendum.</a></li>
</ul>
<h2>Student Notices</h2>
<ul>
<li class="first-child"><a href="../../static/images/notifications/Schoralship.pdf">Scholarship</a></li>
<li><a href="../../static/images/notifications/advt_sciengrsc2018_detailed_for_web.pdf">Job Opportunity</a></li>
<li><a href="../../static/images/notifications/Notification_Semester_Fee.pdf">Submission of Semester Fees</a></li>
<li><a href="../../static/images/notifications/iiitk-holiday-list.pdf">Holiday List 2018</a></li>
<li class="last-child">
<p class="p1"><a href="../../static/images/notifications/RSMS-2017-18-Advertise.pdf">Award of Rajashri Shahu Maharaj Merit Scholarships</a></p>
</li>
</ul>
      </div>
<br>
<br>
</div>
</div>
{% endblock %} {% block base_foot %}
	<script type="text/javascript" src="../../static/js/frontpage/scripts.js"></script>
{% endblock %}