
{% extends "base.html" %} {% load static %} {% block base_head %}


<link rel="shortcut icon" type="image/png" href="../../static/images/facilities/IIIT_Kalyani_new_logo.PNG">
<!--<link rel="icon" type="image/gif" href="">-->
<link rel="icon" type="image/jpeg" href="../../static/images/facilities/IIIT_Kalyani_new_logo.jpg">
	<link rel="shortcut icon" href="../../static/images/facilities/IIIT_Kalyani_new_logo.ico">


<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link href="../../static/css/reach_iiit_kalyani.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Maven+Pro|Nunito|Spectral+SC" rel="stylesheet">


<link rel="shortcut icon" type="image/x-icon" href="../../static/images/front-page/logo-blue-small.png" /><!--title logo-->

{% endblock %} {% block content %}


</div>

<div id="first-navbar"></div>


<div class="container" dir="ltr" style="text-align: left;">
	<div class="hero-image">
		<div class="hero-text">
			<h1 style="font-family: 'Spectral SC', serif;"><b>IIIT Kalyani</b></h1><br> <h3 style="font-family: 'Spectral SC', serif;">- The Destination</h3>
		</div>
	</div>
<div class="container-fluid" id="main" style="text-align: left;">
	<br>
	<h2 style="font-family: 'Spectral SC', serif;"><b>Howrah to IIIT Kalyani</b></h2><br>

<p>
	The most preferred route to reach kalyani if you can make up to &nbsp;<b>Howrah / Shalimar / Santragachi </b>is the <b>Howrah - Sealdah - Kalyani route.</b>&nbsp;There are also some trains which reach <b>Sealdah</b>&nbsp;directly which can also be preferred.<br>
	If you have connectivity to <b>Bandel</b> or <b>Naihati </b>you can refer the <b>Howrah-Bandel-Naihati-Kalyani route </b>mentioned below in this blog<br>
	<br>
</p>

	<h2 style="text-align: left;">
		<b>
			<span style="font-family: 'Spectral SC', serif;">
				Howrah( / Santragachi / Shalimar ) - Sealdah - Kalyani Rail Route
			</span>
		</b>
	</h2>
	<br>

	<a href="https://www.google.co.in/maps/dir/Howrah+Railway+Station,+Howrah,+West+Bengal/Sealdah+Railway+Station,+Sealdah,+BB+Ganguly+Street,+Sealdah,+Raja+Bazar,+Kolkata,+West+Bengal+700014/@22.5758527,88.3422165,15z/data=!4m13!4m12!1m5!1m1!1s0x3a027793e322b5b1:0x252e90291f4157f5!2m2!1d88.3372909!2d22.5830002!1m5!1m1!1s0x3a027659c5555555:0xa3968ffa1950bfd0!2m2!1d88.3708625!2d22.5673321?hl=en" target="_blank">
		<b>
			<h3 style="font-family: 'Spectral SC', serif;">
				HOWRAH TO SEALDAH:
			</h3>
		</b>
	</a>
	<br>
	<p>
		From Howrah get a prepaid taxi from the taxi stand to Sealdah railway station (you may book an ola or uber cab). Buses can also be preferred. Beside the Howrah station(towards the old Howrah bridge) you will get a number of buses to Sealdah. You may reach Sealdah in half an hour or more depending upon the traffic(this route has heavy traffic).
		<br>
		If you are at Santragachi or Shalimar you can get a prepaid taxi or a bus directly to sealdah.<br >
	</p>
	<br>
	<div class="separator" id="image" style="clear: both; text-align: center;">
		<img src="../../static/images/facilities/Reach_iiit_kalyani_images/Howrah_Station.jpg" class="img-rounded" alt="Howrah Station">
	</div>
	<br>
	<b><a href="https://www.google.co.in/maps/dir/Sealdah+Railway+Station,+Bepin+Behari+Ganguly+Street,+Raja+Bazar,+Kolkata,+West+Bengal/Kalyani,+Block+A9,+Block+A,+Kolkata,+West+Bengal+741235/@22.7677658,88.2778486,11z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x3a027659c5555555:0xa3968ffa1950bfd0!2m2!1d88.3708625!2d22.5673321!1m5!1m1!1s0x39f89569b468a613:0xb71acdd2b15d7dac!2m2!1d88.466622!2d22.968723?hl=en" target="_blank"><h3>SEALDAH TO KALYANI:</h3></a></b>
	<br>
	<p>
		From Sealdah Railway station you will get many<a href="http://indiarailinfo.com/search/sdah-sealdah-to-klym-kalyani-simanta/325/0/8391" target="_blank"> local trains</a> towards Kalyani. I'll list some of them:
	</p>
		<br>
		<br>
		<div class="row">
			<div class="col-lg-4">
				<span style="text-align: left;">
				<ul style='font-family: &quot;courier new&quot; , &quot;courier&quot; , monospace;	font-size: 20px;'>
						<li>Kalyani Simanta local</li>
						<li>Shantipur local</li>
						<li>Gede local</li>
						<li>Ranaghat local</li>
						<li>Krishnanagar city local</li>
						<li>Lalgola passenger.</li>
				</ul>

				<br>
			</div>
			<div class="col-lg-8">
				<div class="separator" id="image" style="clear: both; align: right;">
					<img src="../../static/images/facilities/Reach_iiit_kalyani_images/Sealdah_Station.jpg" class="img-responsive" alt="Sealdah Station" >
				</div><br>
			</div>
		</div>
	<p>
		All these local trains have stops at Kalyani station. It will take almost an hour ride to reach Kalyani.<br />
		Here i am mentioning some names of the stations you come across in this route:<br />
	</p>
		<br />
		<ul style="text-align: left;">

		<li><b><span style="font-size:20px; font-family: &quot;courier new&quot; , &quot;courier&quot; , monospace;">Sealdah (Source)</span></b></li>
		<div class="row">
			<div class="col-sm-4">
					<li><span style="font-size:20px; font-family: &quot;courier new&quot; , &quot;courier&quot; , monospace;">Bidhan nagar</span></li>
					<li><span style="font-size:20px; font-family: &quot;courier new&quot; , &quot;courier&quot; , monospace;">Dum Dum</span></li>
					<li><span style="font-size:20px; font-family: &quot;courier new&quot; , &quot;courier&quot; , monospace;">Belgharia</span></li>
					<li><span style="font-size:20px; font-family: &quot;courier new&quot; , &quot;courier&quot; , monospace;">Agarpara</span></li>
					<li><span style="font-size:20px; font-family: &quot;courier new&quot; , &quot;courier&quot; , monospace;">Sodhpur&nbsp;</span></li>
					<li><span style="font-size:20px; font-family: &quot;courier new&quot; , &quot;courier&quot; , monospace;">Kharadha</span></li>
			</div>
			<div class="col-sm-4">
					<li><span style="font-size:20px; font-family: &quot;courier new&quot; , &quot;courier&quot; , monospace;">Titagarh</span></li>
					<li><span style="font-size:20px; font-family: &quot;courier new&quot; , &quot;courier&quot; , monospace;">Barrackpur</span></li>
					<li><span style="font-size:20px; font-family: &quot;courier new&quot; , &quot;courier&quot; , monospace;">Palta</span></li>
					<li><span style="font-size:20px; font-family: &quot;courier new&quot; , &quot;courier&quot; , monospace;">Icchapur</span></li>
					<li><span style="font-size:20px; font-family: &quot;courier new&quot; , &quot;courier&quot; , monospace;">Shyamnagar</span></li>
					<li><span style="font-size:20px; font-family: &quot;courier new&quot; , &quot;courier&quot; , monospace;">Jagaddal</span></li>
			</div>
			<div class="col-sm-4">
					<li><span style="font-size:20px; font-family: &quot;courier new&quot; , &quot;courier&quot; , monospace;">Kankinara</span></li>
					<li><b><span style="font-size:20px; font-family: &quot;courier new&quot; , &quot;courier&quot; , monospace;">Naihati</span></b></li>
					<li><span style="font-size:20px; font-family: &quot;courier new&quot; , &quot;courier&quot; , monospace;">Halisahar</span></li>
					<li><span style="font-size:20px; font-family: &quot;courier new&quot; , &quot;courier&quot; , monospace;">Kanchrapara workshop&nbsp;</span></li>
					<li><span style="font-size:20px; font-family: &quot;courier new&quot; , &quot;courier&quot; , monospace;">Kanchrapara</span></li>
					<li><b><span style="font-size:20px; font-family: &quot;courier new&quot; , &quot;courier&quot; , monospace;">Kalyani (Destination)</span></b></li>
			</div>
		</div>
		</ul>
		<br>
	<p>
		Get down at Kalyani.
		<br>
	</p>
	<br>
	<b>
		<a href="https://www.google.co.in/maps/dir/KALYANI+TECHNOLOGY+ACADEMY,+Barrackpore+-+Kalyani+Expressway,+Block+B,+Kanchrapara,+West+Bengal/Kalyani,+Block+A9,+Block+A,+Kolkata,+West+Bengal+741235/@22.9645715,88.4415188,15z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x39f894e45a43d5c7:0x17e4d639447a57f1!2m2!1d88.4338109!2d22.9612326!1m5!1m1!1s0x39f89569b468a613:0xb71acdd2b15d7dac!2m2!1d88.466622!2d22.968723?hl=en" target="_blank">
			<h3 style="font-family: 'Spectral SC', serif;">
				KALYANI STATION TO IIIT KALYANI:
			</h3>
		</a>
	</b>
	<br>
	<p>
		<div class="row">
			<div class="col-lg-4">
				<p>
					As you get out of the station you will find magic's toward your right. You will get magics to Webel IT park there. They will drop you right infront of the gate of Webel IT Park.<br>
					You can get buses to Buddha park at the same place. From Buddha park walk on to the Kalyani Barrackpore highway and then turn to your left and walk straight (650m). You will reach your destination.
				</p>

			</div>
			<div class="col-lg-8">
				<div class="separator" id="image" style="clear: both; text-align: center;">
						<img src="../images/facilities/Reach_iiit_kalyani_images/Webel_IT_Park.jpg" class="img-rounded" alt="Webel-IT-Park">
				</div>
			</div>
	    </div>
	    <br>
	<h2 style="text-align: left;">
		<span style="font-family: 'Spectral SC', serif;">
			Howrah - Bandel - Naihati - Kalyani Route:
		</span>
	</h2>
	<br>
	<h3 style="text-align: left;">
		<span style="color: blue;">
			<span style="font-family: 'Spectral SC', serif;">
				HOWRAH TO BANDEL:
			</span>
		</span>
	</h3>
	<br>

	<div>
		<p>
		You will get a lot of locals and trains available towards Bandel from the Howrah Junction.
			Here are<b> some trains</b> for this stop:<br />
		</p>
			<ul style='font-family: &quot;courier new&quot; , &quot;courier&quot; , monospace;	font-size: 20px;'>
				<li>Bardhaman local</li>
				<li>Bandel local</li>
				<li>Katwa Local</li>
				<li>Memari local</li>
			</ul>
		<p>
			For further information on Trains available in this route please <a href="http://indiarailinfo.com/search/hwh-howrah-junction-to-bdc-bandel-junction/1/0/581" target="_blank">click here</a><br>
		</p>
	</div>
	<br>

			<h3 style="font-family: 'Spectral SC', serif;text-align: left;color: blue;">
				BANDEL TO NAIHATI:
			</h3>

	<br>
	<div>
		<p>

			After reaching Bandel Jn. You have to get a  train to Naihati Jn. There are a lot of trains to Naihati.<br>
			A few of them are:<br>
		</p>
			<ul style='font-family: &quot;courier new&quot; , &quot;courier&quot; , monospace;	font-size: 20px;'>
				<li>Bandel-Naihati EMU</li>
				<li>Bardhaman-Sealdah EMU</li>
				<li>Katwa-Sealdah EMU</li>
			</ul>
		<p>
				For further information on Trains available in this route please <a href="http://indiarailinfo.com/search/bdc-bandel-junction-to-nh-naihati-junction/581/0/958" target="_blank">click here</a>.
		</p>
	</div>

	<br>
	<h3 style="font-family: 'Spectral SC', serif;text-align: left;color: blue;">
		NAIHATI TO KALYANI:
	</h3>
	<div>
		<p>
			<br>
			Naihati is just 3 stops away from Kalyani.&nbsp;
			This is an intermediate stop for local trains which run between Sealdah and Kalyani mention in the Sealdah To Kalyani route above. You can get any of the train listed above and follow the post above Kalyani Station To IIIT Kalyani.
			<br>
		</p>
	</div>
	<h2 style="text-align: left;">

		<span style="font-family: 'Spectral SC', serif;">Airport to IIIT Kalyani:</span>
	</h2>
	<br>
	<div>
		<p>
			From the airport you have to reach <b>Dum Dum</b> and then you can travel to <b>Kalyani</b>.
			<br>
				<span style="color: #8e7cc3;font-weight: bold;">
					If you opt for the bus route:
				</span>&nbsp;
			You can get a lot of buses to Dum Dum junction from the Airport Gate No. 1 Bus Stop, Jessore Rd.
		<br>
		<b>
			<span style="color: #8e7cc3;">
				If you opt for the rail route:
			</span>
		</b>

			The nearest station at the airport is the <b>Biman Bandar(550m)</b>&nbsp;and the next nearest station to it is <b>Durganagar(2.7km)</b>.&nbsp;
			From Biman Bandar you can get only 3 locals whose details are given below:
		</p>
	</div>
	<br>
	<div class="separator" style="clear: both; text-align: center;">
			<img border="0" data-original-height="236" data-original-width="974" height="154" src="../../static/images/facilities/Reach_iiit_kalyani_images/Airport_Dum-Dum.png" width="640" />
	</div>
		<br>
	<div>
		<p>
			From Durganagar there are 72 locals running towards Dum Dum. All the locals to Sealdah pass through Dum Dum. (To know the details of the local trains running between these stations&nbsp;
			<a href="https://indiarailinfo.com/search/8013/0/3239?date=0&amp;dd=0&amp;ad=0&amp;co=0&amp;tt=0&amp;ed=0&amp;dp=&amp;ea=0&amp;ap=&amp;loco=&amp;drev=0&amp;arev=0&amp;trev=0&amp;rake=&amp;rsa=0&amp;idf=0&amp;idt=0&amp;dhf=0&amp;dmf=0&amp;dht=0&amp;dmt=0&amp;ahf=0&amp;amf=0&amp;aht=0&amp;amt=0&amp;nhf=-1&amp;nht=-1&amp;ttf=0&amp;ttt=0&amp;dstf=0&amp;dstt=0&amp;spdf=0&amp;spdt=0&amp;zone=0&amp;pantry=0&amp;stptype=undefined&amp;raketype=0&amp;cu=undefined&amp;trn=0&amp;q=" target="_blank">click here)</a>
			<br>
			(You can take a prepaid taxi to reach Dum Dum railway station).
			<br>
			After coming to Dum Dum Jn you will get many locals running towards Kalyani. Further route has been mentioned above.
		</p>
	</div>
		<br>
</div>
</div>
{% endblock %} {% block base_foot %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>


 <script type="text/javascript" src="../../static/js/frontpage/scripts.js"></script>


{% endblock %}
