{% extends "base.html" %} {% load static %} {% block base_head %}
<link rel="stylesheet" href="../../static/css/staff.css" media="screen, handheld" />
<link href="https://fonts.googleapis.com/css?family=Archivo+Black" rel="stylesheet">
<title>IIITK Staff</title>
{% endblock %} {% block content %}
<div class="container">
  <div class="staff">
    STAFF MEMBERS
    <hr width="45%;">
  </div>
  <div class="row">

    <div class="col-lg-3 col-md-5 col-sm-5 col-xs-11 cardout">
      <div class="card">
        <img class="card-img-top" src="../../static/images/staff/es.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Easin sekh</h4>
          <div class="card-text">
            <b>Care Taker</b>
          </div>
          <div class="card-text">Email: earsinsk AT gmail.com</div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-5 col-sm-5 col-xs-11 cardout">
      <div class="card">
        <img class="card-img-top" src="../../static/images/staff/md.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Moupriya Das</h4>
          <div class="card-text">
            <b>Office Assistant</b>
          </div>
          <div class="card-text">Email: mou7902 AT gmail.com</div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-5 col-sm-5 col-xs-11 cardout">
      <div class="card">
        <img class="card-img-top" src="../../static/images/staff/rp.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Rathin Pailan</h4>
          <div class="card-text">
            <b>Junior Assistant</b>
          </div>
          <div class="card-text">Email: rathin AT iiitkalyani.ac.in</div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-5 col-sm-5 col-xs-11 cardout">
      <div class="card">
        <img class="card-img-top" src="../../static/images/staff/sb.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Sanju Biswas</h4>
          <div class="card-text">
            <b>Office Attendant</b>
          </div>
          <div class="card-text">Email: rocky.biswas19 AT gmail.com</div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-5 col-sm-5 col-xs-11 cardout">
      <div class="card">
        <img class="card-img-top" src="../../static/images/staff/ab.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Avijit Biswas</h4>
          <div class="card-text">
            <b>Office Attendant</b>
          </div>
          <div class="card-text">Email: avijitbiswas665 AT gmail.com</div>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %} {% block base_foot %}
<script type="text/javascript" src="../../static/js/frontpage/scripts.js"></script>

<script src="../../static/js/wow1.js"></script>
<script>
  new WOW().init();
</script>

{% endblock %}