{% extends "base.html" %} {% load static %} {% block base_head %}
<link rel="stylesheet" type="text/css" href="../../static/css/IIIT-ppp.css">
<title>Why IIIT Kalyani</title>
{% endblock %} {% block content %}
<div class="container">
  <div class="iiitppp">
    <br>
    <br>
    <h1>Why IIIT Kalyani</h1>
    <hr>
    <br>
    <div id="content">
      <div class="inner-content">
        <div class="about-row1">

          <p class="tab-nrml-txt">A Memorandum of Understanding (MoU) was signed between
            <span style="color:#d1a90c;">Government of India</span>,
            <span style="color:#d1a90c;">Government of West Bengal</span> and
            <span style="color:#d1a90c;">Industry Partners, viz</span>; Coal India Limited, Rolta Foundation and JSW Steel Limited for setting up of
            <span style="color:#d1a90c;">Indian Institute of Information Technology(IIIT), Kalyani</span> under Public Private Partnership (PPP) mode.</p>
          <p class="tab-nrml-txt">Under the guidance of the Mentor Director Professor Partha P. Chakrabarti, Director of Indian Institute of Technology
            Kharagpur and number of industry representatives, the Institute aims to excel in education and research in Information
            Technology and allied areas.</p>
        </div>
        <div id="why-row2">
          <div class="left-sec">
            <ul class="why-list">
              <li>The Institute has designed a 4-year B. Tech programme in IT which will be unique in the sense that the programme
                will provide a solid foundation in fundamentals of computer science and technology, along with the skill
                set required for solving complex problems, faced by the industry in 21st Century.</li>
              <li>The students of
                <span style="color:#d1a90c;">IIIT, Kalyani</span> will get an opportunity to study in-depth a number of applications of IT in industries,
                business, and service sector which will help them in the job market.</li>

              <li>With the
                <span style="color:#d1a90c;">NASSCOM </span>Head of Eastern Region,
                <span style="color:#d1a90c;">FICCI &amp; CII</span> associated with this IIIT, the Institute will try to provide internship to the students
                in the major industries of the country. The Industry Partners are from Coal India Limited, Rolta Foundation
                &amp; JSW Steel Limited. The
                <span style="color:#d1a90c;">IIIT, Kalyani </span>looks forward to receive enormous support and help from the major industries of India.</li>

              <li>The 4-year B. Tech will provide ample scope to the students in getting internship so that they can work directly
                on industry related problems in the area of information technology.</li>

              <li>The Institute is located temporarily inside the JIS Engineering College campus at Kalyani. However, the Government
                of West Bengal has allotted 50 acres of prime land in the Kalyani Township for setting up the Institute.</li>

              <li>The Institute will try to arrange accommodation for the outstation students to the maximum possible extent.
                However, accommodation is not guaranteed for all the students.</li>
              <li>The Institute will be backed by a blend of experienced retired senior Professors of Universities and young
                dynamic faculty members coming out of national institutes of India. IIIT will provide excellent educational
                opportunity to the students.</li>
            </ul>

          </div>
          <div class="right-sec">
            <ul class="why-list">
              <li>
                <b>Locational Advantage</b>
                <span style="color:#d1a90c;">IIIT Kalyani</span> is located at an hour drive from the bustling metro-city, Kolkata, which is also hub
                of immense IT activities with presence of IT Companies such as Wipro, TCS, Cognizant, IBM, Capegemini. It
                is a calm, peaceful and productive place to study and student-friendly atmosphere all around.</li>
              <li>
                <b>Strong Industry Interface</b>
                <span style="color:#d1a90c;">IIIT Kalyani</span> has a strong, active and growing interface with business and industry, with experts from
                a range of leading companies and thought leaders of IT Industry delivering regular guest lectures and serving
                as members of various advisory boards.</li>

              <li>
                <b>Projects</b> Students are encouraged to take up projects on contemporary topics as a part of their independent
                study. Arrangements will be made for practical training on live projects in conjunction with leading companies
                in the industry.</li>

              <li>
                <b>Interaction with Business Leaders</b> Students will have the opportunity to interact with leading management
                thinkers, corporate leaders and entrepreneurs, and other high profile personalities from govt. organisations
                and NGOs at various forums organised by
                <span style="color:#d1a90c;">IIIT Kalyani</span>.</li>

              <li>
                <b>Computing Facilities</b>
                <span style="color:#d1a90c;">IIIT Kalyani</span> provides the latest hardware and software infrastructure including high-speed internet
                connection to cater to all the computing needs of the students and the training requirements of the information
                technology courses.</li>
            </ul>
          </div>
        </div>
        <p class="tab-nrml-txt-bootom">
          <span style="color:#d1a90c;">IIIT, Kalyani</span> will not only create industry ready IT Graduates to feed the demand of the industry, but it
          will also act as a catalyst in fostering an innovative entrepreneur-focused ecosystem to ensure that new products,
          solutions and IP are created in the State taking advantage of the intellectual capital of the State.</p>
      </div>
    </div>
    <!-- Content ends -->

    <br>

    <h2>Vision and Mission</h2>
    <hr>
    <p>Dedicated to the service of the Nation Motto The motto of IIIT Kalyani is "vidya dharma sarva dhanam pradhanam". This
      literally translates to "Education is the most important wealth", essentially implying that doing your work well is
      (true) yoga. This can be traced to Sri Krishna's discourse with Arjuna in the Bhagavad Gita. The quote, in the larger
      context of the Gita, urges man to acquire equanimity because a mind of equanimity allows a man to shed distracting
      thoughts of the effects of his deeds and concentrate on the task before him. Equanimity is the source of perfection
      in Karmic endeavours that leads to Salvation.
      <br>
      <br>
    </p>
    <h4>Mission</h4>
    <p>
      The Institute aligns all its activities to serve national interest and seeks To provide broad-based education, helping students
      hone their professional skills and acquire the best-in-class capabilities in their respective disciplines To draw the
      best expertise in science, technology, management and law so as to equip students with the skills to visualize, synthesize
      and execute projects in these fields To imbibe a spirit of entrepreneurship and innovation in its students To undertake
      sponsored research and provide consultancy services in industrial, educational and socially relevant areas
      <br>
    </p>
    <br>
    <h4>Vision</h4>
    <p>
      To be a centre of excellence in education and research, producing global leaders in science, technology and management To
      be a hub of knowledge creation that prioritises the frontier areas of national and global importance IIIT, Kalyani
      will not only create industry ready IT Graduates to feed the demand of the industry, but it will also act as a catalyst
      in fostering an innovative entrepreneur-focused ecosystem to ensure that new products, solutions and IP are created
      in the State taking advantage of the intellectual capital of the State.</p>
    <br>
    <br>
  </div>
</div>
{% endblock %} {% block base_foot %}
<script type="text/javascript" src="../../static/js/frontpage/scripts.js"></script>
{% endblock %}