
@media (min-width: 992px) and (max-width: 1199px) {
    body {
        font-size: 15px;
    }
	.home-content h1 {
    font-size: 55px;
	line-height:50px;
	}

}

/* Portrait tablets and small desktops */
@media  (max-width: 991px) {
    html {
        font-size: 90%;
    }

	.home-content h1 {
    font-size: 40px;
	line-height:50px;
	}



}

/* Portrait tablets and small desktops */
@media  (max-width: 1024px) {
    html {
        font-size: 90%;
    }

	.home-content h1 {
    font-size: 40px;
	line-height:60px;
	}



}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    html {
        font-size: 80%;
    }
	.home-content h1 {
    font-size: 42px;
	}
	.main-team{
		margin-bottom:30px;
	}
	.team-details img{
		width:100%;
	}
	.project-item img{
		width:100%;
	}
	.navbar-toggle {
		background:#fff;
		border:0;
		color:#7b6c63;
	}
	.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus
	{
    border-bottom:0;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border:0;
	border-top:0;
	background:#222222;
	}
	.navbar {
    min-height: 50px;
	}
	.main-skill{
		margin-bottom:30px;
	}
	.project-item:hover .project-content {
    bottom: 200px;
	}
	.project-content {
    left: 42%;
	}
	.social {
		left:255px;
	}

}



/* Landscape phones and smaller */
@media (max-width: 480px) {
    html {
        font-size: 65%;
    }

	.home-content h1 {
    font-size: 25px;
	}

	.heading-content h3 {
    font-size: 30px;
	}
	.heading-content p {
    width: 60%;
	}
	#footer p {
    margin-bottom: 15px;
	}

   .social {
		left:125px;
	}
	.project-item:hover .project-content {
    bottom: 110px;
	}

}



@media (max-width: 320px) {


    .heading-content h3{
        font-size:15px;
    }
	.home-content h5 {
		 font-size:15px;
	}
	.heading-content h3 {
    font-size:20px;
	}
	.heading-content p {
    width: 40%;
	}
	#footer p {
    margin-bottom: 15px;
	}

   .social {
		left:70px;
	}
	.social a i {
    border: 2px solid #fff;
    border-radius: 100%;
    height:30px;
    width: 30px;
    font-size:15px;
    line-height:27px;
    text-align: center;
    color: #fff;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
	}
	.project-item:hover .project-content {
    bottom: 110px;
	}

	.home-content h1 {
    font-size: 16px;
	}
	.home-content h5 {
    font-size: 13px;
	}
	.heading-content p {
    width: 95%;
	}
	.about-content h3 {
    font-size: 13px;
	}
	.project-content {
    left: 32%;
	}
	.project-item:hover .project-content {
    bottom:60px;
	}
	.twitter-content h5 {
    font-size: 20px;
	}

	.client-content h3 {
    font-size: 15px;
	}
	.copyright-footer .copyright p {
    font-size: 12px;
	}


}
