
        .imge {
            width: 80%;
            height: 60%;
            margin: 2% 0 0 12%;
            border-radius: 2%;
            background-color: #8c8a84;

        }

        .vt {
            font-family:poiret one ;
            font-size: 25px;
            

            text-align: center;
        }

        .bak {
            background-color: white;
        }
        .bak2
        {
            background-color:white;
        }
