{% extends "base.html" %} {% load static %} {% block base_head %}
<title>Faculty IIIT K</title>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous">
<link rel="stylesheet" href="../../static/css/facultynew.css"> {% endblock %} {% block content %}
<br>
<br>
<section class="container">
    <div class="page-header">
        <h1> FACULTY </h1>
    </div>
    <div class="cse">
        Computer Science and Engineering
        <br>
    </div>
    <div class="row active-with-click">

        <div class="col-md-4 col-sm-6 col-12">
            <article class="material-card Indigo im">
                <h2>
                    <span>Dr. Imon Mukherjee</span>
                    <strong>
                        Ph.D. [Jadavpur University]
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-fluid" src="../../static/images/faculty/im.jpg">
                    </div>
                    <div class="mc-description">
                        <div class="cc">Courses Offered :</div>
                        <ul style="list-style-type:disc">
                            <li>Data Structure</li>
                            <br>
                            <br>
                            <p></p>
                            <br>
                            <br>

                        </ul>
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <div class="type-1">
                        <a href="{{im}}" class="btn btn-1">
                            <span class="txt">go to teacher's main page</span>
                            <span class="round">
                                <i class="fa fa-chevron-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </article>
        </div>

        <div class="col-md-4 col-sm-6 col-11">
            <article class="material-card Indigo ob">
                <h2>
                    <span>Dr. Oishila Bandyopadhyay</span>
                    <strong>
                        Ph.D. [IIEST Shibpur]
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-fluid" src="../../static/images/faculty/ob.jpg">
                    </div>
                    <div class="mc-description">
                        <div class="cc">Courses Offered :</div>
                        <ul style="list-style-type:disc">
                            <li>Soft. Engineering Lab</li>
                            <li>Sci Lab</li>
                            <br>
                            <br>
                            <p></p>
                            <br>
                            <br>
                        </ul>
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <div class="type-1">
                        <a href="{{ob}}" class="btn btn-1">
                            <span class="txt">go to teacher's main page</span>
                            <span class="round">
                                <i class="fa fa-chevron-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-11">
            <article class="material-card Indigo sk">
                <h2>
                    <span>Dr. Sandip Karmakar</span>
                    <strong>
                        Ph.D. [IIT Kharagpur]
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-fluid" src="../../static/images/faculty/sk.jpg">
                    </div>
                    <div class="mc-description">
                        <div class="cc">Courses Offered :</div>
                        <ul style="list-style-type:disc">
                            <li>Compilor Design Lab</li>
                            <li>Computer Organisation</li>
                            <li>Computer Organisation Lab</li>
                        </ul>
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <div class="type-1">
                        <a href="{{sk}}" class="btn btn-1">
                            <span class="txt">go to teacher's main page</span>
                            <span class="round">
                                <i class="fa fa-chevron-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-md-4 col-sm-6 col-11">
            <article class="material-card Indigo sc">
                <h2>
                    <span>Dr. Sanjay Chatterji</span>
                    <strong>
                        Ph.D. [ IIT Kharagpur ]
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-fluid" src="../../static/images/faculty/sc.jpg">
                    </div>
                    <div class="mc-description">
                        <div class="cc">Courses Offered :</div>
                        <ul style="list-style-type:disc">
                            <li>Machine Learing</li>
                            <li>Industrial Prog. Lab</li>
                            <li>FLAT</li>
                        </ul>
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <div class="type-1">
                        <a href="{{sc}}" class="btn btn-1">
                            <span class="txt">go to teacher's main page</span>
                            <span class="round">
                                <i class="fa fa-chevron-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-md-4 col-sm-6 col-11">
            <article class="material-card Indigo sp">
                <h2>
                    <span>Dr. Sanjoy Pratihar</span>
                    <strong>
                        Ph.D. [IIT Kharagpur]
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-fluid" src="../../static/images/faculty/sp.jpg">
                    </div>
                    <div class="mc-description">
                        <div class="cc">Courses Offered :</div>
                        <ul style="list-style-type:disc">
                            <li>Image Processing</li>
                            <li>Graph Theory</li>
                            <br>
                            <br>
                            <p></p>
                            <br>
                            <br>
                        </ul>
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <div class="type-1">
                        <a href="{{sp}}" class="btn btn-1">
                            <span class="txt">go to teacher's main page</span>
                            <span class="round">
                                <i class="fa fa-chevron-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </article>
        </div>



        <div class="col-md-4 col-sm-6 col-11">
            <article class="material-card Indigo skh">
                <h2>
                    <span>Dr. SK Hafizul Islam</span>
                    <strong>
                        Ph.D. [IIT(ISM) Dhanbad]
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-fluid" src="../../static/images/faculty/skh.jpg">
                    </div>
                    <div class="mc-description">
                        <div class="cc">Courses Offered :</div>
                        <ul style="list-style-type:disc">
                            <li>Computer Networks</li>
                            <li>Computer Networks Lab</li>
                            <br>
                            <br>
                            <p></p>
                            <br>
                            <br>
                        </ul>
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <h4>
                        <div class="type-1">
                            <a href="{{skh}}" class="btn btn-1">
                                <span class="txt">go to teacher's main page</span>
                                <span class="round">
                                    <i class="fa fa-chevron-right"></i>
                                </span>
                            </a>
                        </div>
                </div>
            </article>
        </div>
    </div>
    <div class="phy">
        Physics
    </div>
    <div class="row active-with-click">


        <div class="col-md-4 col-sm-6 col-11">
            <article class="material-card Indigo ud">
                <h2>
                    <span style="margin-bottom:3%">Dr. Uma Das</span>
                    <strong style="line-height:140%">
                        Ph.D. [Physical Research Laboratory,Ahmedabad]
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-fluid" src="../../static/images/faculty/ud.JPG">
                    </div>
                    <div class="mc-description">
                        <div class="cc">Courses Offered :</div>
                        <ul style="list-style-type:disc">
                            <li>Maths</li>
                            <br>
                            <br>
                            <p></p>
                            <br>
                            <br>
                            <br>
                        </ul>
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <div class="type-1">
                        <a href="{{ud}}" class="btn btn-1">
                            <span class="txt">go to teacher's main page</span>
                            <span class="round">
                                <i class="fa fa-chevron-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </article>
        </div>
    </div>
    <div class=" ece">
        Electronics and Communication Engineering
    </div>
    <div class="row active-with-click">

        <div class="col-md-4 col-sm-6 col-11">
            <article class="material-card Indigo dnd">
                <h2>
                    <span>Dr. Dalia Nandi (Das)</span>
                    <strong>
                        Ph.D. [University of Calcutta]
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-fluid" src="../../static/images/faculty/dummyProfile-male.jpg">
                    </div>
                    <div class="mc-description">
                        <div class="cc">Courses Offered :</div>
                        <ul style="list-style-type:disc">
                            <li>Data Communication</li>
                            <li>Digital Elec. Lab</li>
                            <br>
                            <br>
                            <p></p>
                            <br>
                            <br>
                        </ul>
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <div class="type-1">
                        <a href="{{dnd}}" class="btn btn-1">
                            <span class="txt">go to teacher's main page</span>
                            <span class="round">
                                <i class="fa fa-chevron-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </article>
        </div>

        <div class="col-md-4 col-sm-6 col-11">
            <article class="material-card Indigo tg">
                <h2>
                    <span>Dr. Tamal Ghosh</span>
                    <strong>
                        Ph.D. [IIT Hyderabad]
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-fluid" src="../../static/images/faculty/tg.jpg">
                    </div>
                    <div class="mc-description">
                        <div class="cc">Courses Offered :</div>
                        <ul style="list-style-type:disc">
                            <li>Signal & Systems</li>
                            <li>Digital Electronics</li>
                            <br>
                            <br>
                            <p></p>
                            <br>
                            <br>
                        </ul>
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <div class="type-1">
                        <a href="{{tg}}" class="btn btn-1">
                            <span class="txt">go to teacher's main page</span>
                            <span class="round">
                                <i class="fa fa-chevron-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </article>
        </div>
    </div>
    <div class="te">
        Technical Assistents
    </div>
    <div class="row active-with-click">

        <div class="col-md-4 col-sm-6 col-11">
            <article class="material-card Indigo aks">
                <h2>
                    <span>Amit Kumar Sadhukhan</span>
                    <strong>
                        B.Tech [WBUT]
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-fluid" src="../../static/images/faculty/aks.jpg">
                    </div>
                    <div class="mc-description">
                        <div class="cc">Courses Offered :</div>
                        <ul style="list-style-type:disc">
                            <li>Digital Elec. Lab</li>
                            <br>
                            <br>
                            <!--                         <li>Courses 2</li>
                        <li>Courses 3</li> -->
                        </ul>
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <div class="type-1">
                        <a href="{{faculty}}" class="btn btn-1">
                            <span class="txt">go to teacher's main page</span>
                            <span class="round">
                                <i class="fa fa-chevron-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </article>

        </div>

        <div class="col-md-4 col-sm-6 col-11">
            <article class="material-card Indigo">
                <h2>
                    <span>Md. Samim Rahaman</span>
                    <strong>
                        M.CA [Burdaman University]
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-fluid" src="../../static/images/faculty/sr.jpg">
                    </div>
                    <div class="mc-description">
                        <div class="cc">Courses Offered :</div>
                        <ul style="list-style-type:disc">
                            <li>Computer Organisation Lab</li>
                            <li>Software Engineering Lab</li>
                            <li>Compiler Design Lab</li>
                            <li>Compiler Network Lab</li>
                        </ul>
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <div class="type-1">
                        <a href="{{faculty}}" class="btn btn-1">
                            <span class="txt">go to teacher's main page</span>
                            <span class="round">
                                <i class="fa fa-chevron-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </article>
        </div>

    </div>
</section>
{% endblock %} {% block base_foot %}
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="../../static/js/faculty.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
    crossorigin="anonymous"></script>
<script type="text/javascript" src="../../static/js/frontpage/scripts.js"></script>
{% endblock %}